<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">

     <!-- include header end -->

     <div class="container-fluid p-0">
        <img
          src="assets/images//staffing.jpg"
          alt="IT Staffing"
          class="innerbanner wow slideInDown"
        />
      </div>
      <!--end-->
      <!--start-->
      <div class="container body-content inner wow slideInUp hire innertop">
        <div class="row">
          <br />
          <div class="col-md-4 mt-5">
            <h2><span class="border-bottom border-success">Hire Developer</span></h2>
            <strong>
              <h6>
                The very best talent from the Indian Market. We are a pure play
                IT Company, 12 years plus of successful Track record, we have
                your back
              </h6>
            </strong>
          </div>
          <div class="col-md-8">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <!--<ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>-->
              <div class="carousel-inner mt-5 text-right">
                <div class="carousel-item active row">
                  <img
                    src="assets/images//clients/cylsys client-Uti mutual fund.jpg"
                    alt="images/clients/cylsys client-Uti mutual fund.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-amazon.jpg"
                    alt="images/clients/cylsys client-amazon.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-DBS.jpg"
                    alt="images/clients/cylsys client-DBS.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-fan zone.jpg"
                    alt="images/clients/cylsys client-fan zone.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-freeITStaffing.jpg"
                    alt="images/clients/cylsys client-freeITStaffing.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-fullerton India.jpg"
                    alt="images/clients/cylsys client-fullerton India.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images//clients/cylsys client-Kandahar Knights.jpg"
                    alt="images/clients/cylsys client-Kandahar Knights.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-Kotak Mahindra Bank.jpg"
                    alt="images/clients/cylsys client-Kotak Mahindra Bank.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-Medknow Publications.jpg"
                    alt="images/clients/cylsys client-Medknow Publications.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-Muthoot Finance.jpg"
                    alt="images/clients/cylsys client-Muthoot Finance.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-myfundbucket.jpg"
                    alt="images/clients/cylsys client-myfundbucket.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-NeoGrowth.jpg"
                    alt="images/clients/cylsys client-NeoGrowth.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images//clients/cylsys client-online image editor.jpg"
                    alt="images/clients/cylsys client-online image editor.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-panjab national bank.jpg"
                    alt="images/clients/cylsys client-panjab national bank.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-Paytm.jpg"
                    alt="images/clients/cylsys client-Paytm.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-Safegate Group.jpg"
                    alt="images/clients/cylsys client-Safegate Group.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-TaTa Capital.jpg"
                    alt="images/clients/cylsys client-TaTa Capital.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                  <img
                    src="assets/images//clients/cylsys client-Tolia Group of Companies.jpg"
                    alt="images/clients/cylsys client-Tolia Group of Companies.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images//clients/cylsys client-aditya birla capital.jpg"
                    alt="images/clients/cylsys client-aditya birla capital.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-vivgnte by vsa.jpg"
                    alt="images/clients/cylsys client-vivgnte by vsa.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-Wolters Kluwer.jpg"
                    alt="images/clients/cylsys client-Wolters Kluwer.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-yes bank.jpg"
                    alt="images/clients/cylsys client-yes bank.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-RRO 28.jpg"
                    alt="images/clients/cylsys client-RRO 28.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-Edelweiss 29.jpg"
                    alt="images/clients/cylsys client-Edelweiss 29.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images//clients/cylsys client-ITSFMG 32.jpg"
                    alt="images/clients/cylsys client-ITSFMG 32.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-NAX Your Document Bank 33.jpg"
                    alt="images/clients/cylsys client-NAX Your Document Bank 33.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-Medical institute for Screening test 34.jpg"
                    alt="images/clients/cylsys client-Medical institute for Screening test 34.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-including Gratitude 35.jpg"
                    alt="images/clients/cylsys client-including Gratitude 35.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-Auxilo 36.jpg"
                    alt="images/clients/cylsys client-Auxilo 36.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-wingreens frams 68.jpg"
                    alt="images/clients/cylsys client-wingreens frams 68.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images//clients/cylsys client-powerweave 69.jpg"
                    alt="images/clients/cylsys client-powerweave 69.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-cactus 70.jpg"
                    alt="images/clients/cylsys client-cactus 70.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-afghanistan premier league 71.jpg"
                    alt="images/clients/cylsys client-afghanistan premier league 71.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-enhancesys 72.jpg"
                    alt="images/clients/cylsys client-enhancesys 72.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-mindsclik 74.jpg"
                    alt="images/clients/cylsys client-mindsclik 74.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-hurleyx 78.jpg"
                    alt="images/clients/cylsys client-hurleyx 78.jpg"
                    class="col-md-3 col-3 img-fluid"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images//clients/cylsys client-wingreens World 79.png"
                    alt="images/clients/cylsys client-wingreens World 79.png"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-c-edge 80.png"
                    alt="images/clients/cylsys client-c-edge 80.png"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-tcqo by mahindra 81.png"
                    alt="images/clients/cylsys client-tcqo by mahindra 81.png"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-hurley's 83.png"
                    alt="images/clients/cylsys client-hurley's 83.png"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-jm financial 82.png"
                    alt="images/clients/cylsys client-jm financial 82.png"
                    class="col-md-3 col-3 img-fluid"
                  />

                  <img
                    src="assets/images//clients/cylsys client-hurley's 83.png"
                    alt="images/clients/cylsys client-hurley's 83.png"
                    class="col-md-3 col-3 img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="container body-content inner wow slideInUp text-center">
        <h2>How does Cylsys deliver best Developers</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="bg-primary text-white h-100 p-5">
              <h3 class="text-white pb-3">
                Talk to one of our Industry Experts
              </h3>
              <p>
                A Cylsys relationship manager will work with you to understand
                your staffing objectives, Technical needs and Project dynamics
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-dark text-white h-100 p-5">
              <h3 class="text-white pb-3">Work with Tested Talent</h3>
              <p>
                Time is of the essence. Within the shortest span of time, we
                will introduce you to the right developer for your project.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-primary text-white h-100 p-5">
              <h3 class="text-white pb-3">The Right Fit</h3>
              <p>
                Thorough screening process. We ensure the developer selected is
                the right person for the job.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container body-content inner wow slideInUp text-center">
        <h2>Your Project needs a Specific Skill set?</h2>
        <div class="row mt-4">
          <div class="col-md-3 text-left">
            <ul class="hirelist">
              <li>Hire AngularJS Developers</li>
              <li>Hire API Developers</li>
              <li>Hire AI Engineers</li>
              <li>Hire Back-End Developers</li>
              <li>Hire C# Developers</li>
              <li>Hire Database Developers</li>
              <li>Hire Android Developers</li>
              <li>Hire Angular Developers</li>
              <li>Hire AWS Developers</li>
              <li>Hire Data Scientists</li>
            </ul>
          </div>
          <div class="col-md-3 text-left">
            <ul class="hirelist">
              <li>Hire HTML5 Developers</li>
              <li>Hire Front-End Developers</li>
              <li>Hire Full-Stack Developers</li>
              <li>Hire IOS Developers</li>
              <li>Hire DevOps Engineers</li>
              <li>Hire Java Developers</li>
              <li>Hire Drupal Developers</li>
              <li>Hire JavaScript Developers</li>
              <li>Hire Magento Developers</li>
              <li>Hire Web Developers</li>
            </ul>
          </div>
          <div class="col-md-3 text-left">
            <ul class="hirelist">
              <li>Hire .NET Developers</li>
              <li>Hire Node.js Developers</li>
              <li>Hire Linux Developers</li>
              <li>Hire Laravel Developers</li>
              <li>Hire React.js Developers</li>
              <li>Hire React Native Developers</li>
              <li>Hire PHP Developers</li>
              <li>Hire Python Developers</li>
              <li>Hire R Developers</li>
              <li>Hire SQL Developers</li>
            </ul>
          </div>
          <div class="col-md-3 text-left">
            <ul class="hirelist">
              <li>Hire WordPress Developers</li>
              <li>Hire Flutter Developers</li>
              <li>Hire Lamda Developers</li>
              <li>Hire RPA Developers</li>
              <li>Hire Ionic Developers</li>
              <li>Hire MySQL Developers</li>
              <li>Hire Postgresql Developers</li>
              <li>Hire Salesforce Developers</li>
              <li>Hire UI Developers</li>
              <li>Hire Ruby on Rails Developers</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section technology_stack">
        <div class="container">
          <h2>OUR TECHNOLOGY STACK</h2>
          <div class="row text-center wow fadeInDown">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h4>Web Frameworks</h4>
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/wf1.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/wf2.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/wf3.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/wf4.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/wf5.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/wf6.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/wf7.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/wf8.jpg"
                    alt="Technology Stack"
                  />
                </div>
                <div class="carousel-item">
                  <h4>Front-end UI</h4>
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/ui1.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/ui2.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/ui3.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/ui4.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/ui5.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/ui6.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/ui7.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/ui8.jpg"
                    alt="Technology Stack"
                  />
                </div>
                <div class="carousel-item">
                  <h4>Chat & Voice Bots</h4>
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/cvb1.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/cvb2.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/cvb3.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/cvb4.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/cvb5.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/cvb6.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/cvb7.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/cvb8.jpg"
                    alt="Technology Stack"
                  />
                </div>
                <div class="carousel-item">
                  <h4>DevOps & Infra</h4>
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi1.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi2.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi3.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi4.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi5.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi6.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi7.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi8.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi9.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi10.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi11.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/doi12.jpg"
                    alt="Technology Stack"
                  />
                </div>
                <div class="carousel-item">
                  <h4>Database & Machine Learning</h4>
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml1.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml2.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml3.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml4.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml5.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml6.jpg"
                    alt="Technology Stack"
                  />
                  <!-- <img class="d-block col-md-3 col-4 float-left" src="assets/images//tech/dml7.jpg" alt="Technology Stack"> -->
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml8.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml9.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml10.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml11.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml12.jpg"
                    alt="Technology Stack"
                  />
                  <img
                    class="d-block col-md-3 col-4 float-left"
                    src="assets/images//tech/dml13.jpg"
                    alt="Technology Stack"
                  />
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="container body-content inner wow slideInUp text-center">
        <h2>How It Works</h2>
        <h4>
          At Cylsys Software Solution, we undertake the Candidate shortlisting
          process by breaking it down with well- defined and successful steps to
          ensure that the Clients achieve their staffing objectives in the
          shortest span of time. This Process involves the following stages :
        </h4>
        <p></p>
        <div class="row">
          <div class="col-md-12">
            <img
              src="assets/images//engagement-process.jpg"
              width="80%"
              alt="Engagement Process"
            />
          </div>
        </div>
      </div>
      <hr />
      <div class="container body-content inner wow slideInUp text-center">
        <h2>Our Services!</h2>
        <h4>Bright Solutions & Profitable Results</h4>
        <div class="row mt-5 p-3">
          <div class="col-md-4 col-6 border">
            <img src="assets/images//d5.png" width="30%" alt="Hire Quickly" />
            <h3>Permanent Staffing</h3>
            <p>
              Our permanent staffing promises perfect fit candidate to role and
              company.
            </p>
          </div>
          <div class="col-md-4 col-6 border">
            <img src="assets/images//d6.png" width="30%" alt="The Top 3%" />
            <h3>Remote Location</h3>
            <p>
              The very best talent from the Indian Market. Employees can work
              from home with laptop and decent internet connection.
            </p>
          </div>
          <div class="col-md-4 col-6 border">
            <img
              src="assets/images//d7.png"
              width="30%"
              alt="Leading the Future of Work"
            />
            <h3>Contract Staffing</h3>
            <p>
              Short-term solutions for long-term goals. Variety of staffing
              solutions relied on other organizations to meet their growing
              needs
            </p>
          </div>
          <div class="col-md-4 col-6 border">
            <img src="assets/images//d8.png" width="30%" alt="The Top 3%" />
            <h3>International Recruitment</h3>
            <p>We are a specialist service employing Indians outside India.</p>
          </div>
          <div class="col-md-4 col-6 border">
            <img
              src="assets/images//d9.png"
              width="30%"
              alt="Leading the Future of Work"
            />
            <h3>Recruitment Process Outsourcing</h3>
            <p>
              Modular service that can be one or more sections of the outsourced
              recruitment process.
            </p>
          </div>
          <div class="col-md-4 col-6 border">
            <img src="assets/images//d10.png" width="30%" alt="A Level Above" />
            <h3>Turnkey Projects</h3>
            <p>
              Search potential candidates for your job that match you, save
              job....
            </p>
          </div>
        </div>
      </div>
      <div class="container body-content inner wow slideInUp text-center">
        <h2>Build Amazing Teams, On Demand</h2>
        <h4>
          Quickly assemble the teams you need, exactly when you need them.
        </h4>
        <div class="row mt-5 p-3">
          <div class="col-md-3 col-6 border">
            <img src="assets/images//d1.jpg" width="40%" alt="Hire Quickly" />
            <h3>Hire Quickly</h3>
            <p>
              Hire in under 48 hours. Scale up or down, no strings attached. We
              offer flexible engagements from hourly to full-time.
            </p>
          </div>
          <div class="col-md-3 col-6 border">
            <img src="assets/images//d3.jpg" width="40%" alt="The Top 3%" />
            <h3>The Top 5%</h3>
            <p>
              Every applicant to the Cylsys network is rigorously tested and
              vetted. Our highly selective process leads to a 98% trial-to-hire
              success rate.
            </p>
          </div>
          <div class="col-md-3 col-6 border">
            <img
              src="assets/images//d2.jpg"
              width="40%"
              alt="Leading the Future of Work"
            />
            <h3>Leading the Future of Work</h3>
            <p>
              Our network is ready for tomorrow's business challenges by
              embracing advanced and specialized skills including blockchain and
              Al.
            </p>
          </div>
          <div class="col-md-3 col-6 border">
            <img src="assets/images//d4.jpg" width="40%" alt="A Level Above" />
            <h3>A Level Above</h3>
            <p>
              Every single developer in our global network embodies the highest
              levels of integrity, professionalism, and communication.
            </p>
          </div>
        </div>
      </div>
      <div class="container body-content inner wow slideInUp">
        <h2 class="text-center">FAQs</h2>
        <div class="accordion aiml" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h3 class="mb-0">
                <a
                  href=""
                  class="btn-link btn-block text-left"
                  type=""
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  How are Cylsys developers different?</a
                >
              </h3>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  At Cylsys, we thoroughly screen our developers to ensure we
                  only match you with talent of the highest caliber. Of the more
                  than 1000 people who apply to join the Cylsys network each
                  year, fewer than 2% make the cut. You'll work with engineering
                  experts (never generalized recruiters or HR reps) to
                  understand your goals, technical needs, and team dynamics. The
                  end result: expert vetted talent from our network, custom
                  matched to fit your business needs.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h3 class="mb-0">
                <a
                  href=""
                  class="btn-link btn-block text-left collapsed"
                  type="
      "
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                  >Can I hire developers in less than 48 hours through
                  Cylsys?</a
                >
              </h3>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Depending on availability and how fast you can progress, you
                  could start working with a developer within 48 hours of
                  signing up.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h3 class="mb-0">
                <a
                  href=""
                  class="btn-link btn-block text-left collapsed"
                  type=""
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                  >What is the no-risk trial period for Cylsys developers?</a
                >
              </h3>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  We make sure that each engagement between you and your
                  developer begins with a trial period of up to one week. This
                  means that you have time to confirm the engagement will be
                  successful. If you're completely satisfied with the results,
                  we'll bill you for the time and continue the engagement for as
                  long as you'd like. If you're not completely satisfied, you
                  won't be billed. From there, we can either part ways, or we
                  can provide you with another expert who may be a better fit
                  and with whom we will begin a second, no-risk trial.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>