
<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">
     
        <div class="container-fluid p-0">
            <img
              src="assets/images/software.jpg "
              alt="Software Development "
              class="innerbanner wow slideInDown"
            />
          </div>
          <!--end-->
          <!--start-->
          <div class="container body-content inner wow slideInUp innertop">
            <h2>
              <span class="border-bottom border-success">
                Custom Software Development Services</span
              >
            </h2>
            <!--<h2>Full-cycle software development services designed to help your business grow</h2>-->
            <h3>
              The entire 360 degree Software development services custom designed
              for each Business to scale new heights
            </h3>
          </div>
          <hr />
          <div class="container body-content inner wow slideInUp">
            <h3 class="mt-1 pt-1">Full Range of Software Development Services</h3>
            <div class="row mt-5 software-devl">
              <div class="col-md-6">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s1.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>Mobile Apps &uarr;</h5>
                      <h6>Mobile application development</h6>
                      <p>
                        If perfect Usability, Security which cannot be breached and
                        cutting edge functionality is what you seek in your mobile
                        application ? Look no further. The Cylsys expertise will
                        develop powerful, unique and easy to use Mobile apps which
                        will command the attention of users and ensure maximum
                        downloads and usage. We build Native, Hybrid and Cross
                        –platform apps that run on major operating systems such as
                        iOS and Android.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s4.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>Software &uarr;</h5>
                      <h6>Customized Software Development</h6>
                      <p>
                        Whether a Startup, A Business looking to scale up or A
                        Business wanting to reinvent its process, Cylsys Software
                        offers the entire gamut of Software development services to
                        ensure your Business is upto date with today's Technology
                        and competing with competitors with an added advantage.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s2.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>QA &uarr;</h5>
                      <h6>Software testing and QA</h6>
                      <p>
                        Our expertise honed over a decade of in depth domain
                        knowledge and Software testing service provides the stamp of
                        success to clients of all sizes and across industries.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s3.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>QA Automation &uarr;</h5>
                      <h6>QA automation service</h6>
                      <p>
                        Leverage our in-house automation facility to test
                        functionality, API’s or Mobile apps with unparalleled
                        precision and speed. Cylsys ensures software application and
                        product quality by providing proven measures for
                        Reliability, Quality and Usability
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s5.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>DDC &uarr;</h5>
                      <h6>Dedicated Development Center</h6>
                      <p>
                        Our State of the art Development Center can be used by
                        clients to optimize their development resources, cut
                        development costs and market the product by the in house
                        experts.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s6.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>Web Apps &uarr;</h5>
                      <h6>Web application development</h6>
                      <p>
                        We help Client make a major impact in the market by creating
                        high performing web applications which stand out from the
                        clutter and which ranges from powerful video delivery
                        solutions to E-commerce portals to custom Healthcare
                        software to path breaking EdTech platforms.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s7.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>IT Consulting &uarr;</h5>
                      <h6>IT Consulting</h6>
                      <p>
                        The right advice is the difference between success and
                        failure. Our seasoned IT experts provide strategic
                        consultations on the best way to harness ground breaking
                        technologies which will take Businesses to the next level.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s8.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>DevOps Services &uarr;</h5>
                      <h6>Drive measurable business results</h6>
                      <p>
                        Utilize our DevOps services to ensure that the Systems
                        development life cycle is the shortest and continuous
                        delivery is maintained of High Quality Software.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s9.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>Web portals &uarr;</h5>
                      <h6>Web portal development</h6>
                      <p>
                        Cylsys helps build Structured, functional, creative web
                        portals to ensure Client satisfaction, ease of navigation,
                        Higher online sales, repeat sales and instant recollect.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s10.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>Maintenance services &uarr;</h5>
                      <h6>Maintenance services</h6>
                      <p>
                        Take advantage of our maintenance and support services to
                        ensure a zero breakdown working environment through a
                        continuous and reliable operation of the systems.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s11.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>Project rescue &uarr;</h5>
                      <h6>Software project rescue</h6>
                      <p>
                        Development going off track ? Our Team of experts will get
                        the project back on track with as little impact on the
                        current project budget and Timetable as possible.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="software-dev">
                  <img
                    src="assets/images/software-dev/s12.jpg "
                    alt="Software Development "
                    class="image"
                  />
                  <div class="overlay">
                    <div class="text">
                      <h5>Cloud &uarr;</h5>
                      <h6>Cloud application development</h6>
                      <p>
                        Tap into our Cloud development expertise to fully benefit
                        from everything cloud has to offer. Be it design,
                        development, integration or maintenance of cloud based apps.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="section technology_stack mt-5">
            <div class="container">
              <div class="heading">
                <h2 class=" ">TECHNOLOGY STACK</h2>
              </div>
              <div class="row text-center wow fadeInDown">
                <div
                  id="carouselExampleControls "
                  class="carousel slide"
                  data-ride="carousel "
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <h4>Web Frameworks</h4>
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/wf1.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/wf2.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/wf3.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/wf4.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/wf5.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/wf6.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/wf7.jpg "
                        alt="Technology
            Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/wf8.jpg "
                        alt="Technology Stack "
                      />
                    </div>
                    <div class="carousel-item">
                      <h4>Front-end UI</h4>
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/ui1.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/ui2.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/ui3.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/ui4.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/ui5.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/ui6.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/ui7.jpg "
                        alt="Technology
            Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/ui8.jpg "
                        alt="Technology Stack "
                      />
                    </div>
                    <div class="carousel-item">
                      <h4>Chat & Voice Bots</h4>
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/cvb1.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/cvb2.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/cvb3.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/cvb4.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/cvb5.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/cvb6.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/cvb7.jpg "
                        alt="Technology
            Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/cvb8.jpg "
                        alt="Technology Stack "
                      />
                    </div>
                    <div class="carousel-item">
                      <h4>DevOps & Infra</h4>
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi1.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi2.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi3.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi4.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi5.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi6.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi7.jpg "
                        alt="Technology
            Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi8.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi9.jpg "
                        alt="Technology Stack
            "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi10.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi11.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/doi12.jpg "
                        alt="Technology Stack "
                      />
                    </div>
                    <div class="carousel-item">
                      <h4>Database & Machine Learning</h4>
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml1.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml2.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml3.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml4.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml5.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml6.jpg "
                        alt="Technology Stack "
                      />
                      <!-- <img class="d-block col-md-3 col-4 float-left " src="assets/images/tech/dml7.jpg " alt="Technology Stack "> -->
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml8.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml9.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml10.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml11.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml12.jpg "
                        alt="Technology Stack "
                      />
                      <img
                        class="d-block col-md-3 col-4 float-left"
                        src="assets/images/tech/dml13.jpg "
                        alt="Technology Stack "
                      />
                    </div>
                  </div>
                </div>
                <!--<a class="carousel-control-prev " href="#carouselExampleControls " role="button " data-slide="prev "> <span class="carousel-control-prev-icon " aria-hidden="true "></span> <span class="sr-only
            ">Previous</span> </a> <a class="carousel-control-next " href="#carouselExampleControls " role="button " data-slide="next "> <span class="carousel-control-next-icon " aria-hidden="true "></span> <span class="sr-only ">Next</span> </a> -->
              </div>
            </div>
          </section>
    
          <!--end-->
          <hr style="margin-top: 100px" />
          <!--start-->
     
    </div>
  
</div>
