

    <div class="modal" id="myModal"  (hidden.bs.modal)="resetForm()">
      <div class="modal-dialog modal-lg">
        <div class="modal-content bg-quick-contact">
          <!-- Modal Header -->
          <div class="modal-body p-0">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="closeModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 border-right homeform">
                  <p>
                    "Cylsys understands how to run a business and to sustain a
                    long term business relation with clients."
                  </p>
                  <p class="pt-4">
                    <img
                      src="assets/images/pawasgoyal.jpg"
                      width="60px"
                      class="mr-3 rounded-circle float-left"
                      alt="Pawas Goyal"
                    />
                    <strong>Pawas Goyal</strong><br />
                    <span class="small"
                      >CEO of Cylsys Software Solution Pvt Ltd</span
                    >
                  </p>
                
                  <h4 class="mt-5">For Sales Enquiry</h4>
                  <p>
                    +91 99675 02270<br />
                    <a href="mailto:reachus@cylsys.com">reachus@cylsys.com</a
                    ><br />
                    <a
                      href="https://www.facebook.com/cylsyssoftwaresolutionpvtltd"
                      ><i
                        class="fab fa-facebook social mr-2"
                        aria-label="Facebook"
                      ></i
                    ></a>
                    <a href="https://www.linkedin.com/company/2310187"
                      ><i
                        class="fab fa-linkedin-in social mr-2"
                        aria-label="Linkedin"
                      ></i
                    ></a>
                    <!-- <a href="https://www.skype.com/pawasgoyal"><i class="fab fa-skype social mr-2"></i></a> -->
                  </p>
                  <div class="certificate">
                    <img
                      src="assets/images/fourteen_year.jpg"
                      alt="twelve_year"
                      width="50"
                      class="rounded-circle"
                    />
                    <img
                      src="assets/images/iso.png"
                      alt="ten years"
                      width="50"
                      class="rounded-circle"
                    />
                    <img
                      src="assets/images/most-innovative-companies.png"
                      alt="The Most Innovative Companies"
                      class="rounded-circle"
                      width="50"
                    />
                    <img
                      src="assets/images/iso9001.jpg"
                      alt="The Most Innovative Companies"
                      class="rounded-circle"
                      width="50"
                    />
                    <img
                      src="assets/images/iso27001.jpg"
                      alt="The Most Innovative Companies"
                      class="rounded-circle"
                      width="50"
                    />
                    <a
                      href="https://sur.ly/awards-generic/api/track/click/a2a7052327c614f00beec781bc3ec109"
                    >
                      <img
                        src="assets/images/web safety.png"
                        alt="web safety img"
                        class="rounded-circle"
                        width="50"
                    /></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="section-title">
                    <div class="heading">
                      <h2>Request a Quote</h2>
                    </div>
                  </div>
                  <div class="bg-quick-contact p-0" style="box-shadow: none">
                    <form method="post" [formGroup]="submitForm">
                      <div class="">
                        <input
                          type="text"
                          class="form-control mb-1"
                          id="inlineFormInput"
                          placeholder="Name"
                          name="Name"
                          ng-model="enquiry.Name"
                          required
                          maxlength="40"
                          formControlName="name"
                          (keypress)="keyPressAlphabet($event)"
                        />
                        <div class="text-danger" *ngIf="(submitFormControl.name.touched )">
                          <div class="text-danger" *ngIf="submitFormControl.name.errors?.required">
                              Name is required
                          </div>
  
                          <div class="text-danger" *ngIf="submitFormControl.name?.errors?.minlength">
                          Name must be at least 3 characters long.
                          </div>
                      </div>
                      </div>
                      <div class="">
                        <div class="">
                          <input
                            type="email"
                            class="form-control text-ridus mb-1"
                            id="inlineFormInputGroup"
                            placeholder="Email"
                            name="Email"
                            ng-model="enquiry.Email"
                            required
                            formControlName="email"
                          />
                          <div class="text-danger" *ngIf="(submitFormControl.email.touched )">
                            <div class="text-danger" *ngIf="submitFormControl.email.errors?.required">
                                Email is required
                            </div>
    
                            <div class="text-danger" *ngIf="submitFormControl.email?.errors?.pattern">
                                Please enter valid email address.
                            </div>
                        </div>
                        </div>
                      </div>
                      <div class="">
                        <div class="">
                          <input
                            type="Phone"
                            class="form-control text-ridus mb-1"
                            id="inlineFormInputGroup"
                            placeholder="Phone"
                            name="Phone"
                            ng-model="enquiry.Phone"
                            required
                            formControlName="phoneNo"
                            maxlength="10"
                            (keypress)="keyPressNumbers($event)"
                          />
                          <div class="text-danger" *ngIf="(submitFormControl.phoneNo.touched )">
                            <div class="text-danger" *ngIf="submitFormControl.phoneNo.errors?.required">
                                Phone number is required
                            </div>
                        </div>
                        </div>
                      </div>
                      <div class="">
                        <div class="">
                          <select
                            class="form-control text-ridus mb-1"
                            ng-model="enquiry.Service"
                            formControlName="services"
                            (change)="
                            changeService($event)"
                          >
                           
                            <option value="" disabled>
                              Select Services
                            </option>
                            <option *ngFor="
                                let s of serviceList;
                                let i = index
                              " [value]="s.id">
                              {{ s.serviceName}}
                            </option>
                          </select>
                          <div class="text-danger" *ngIf="(submitFormControl.services.touched )">
                            <div class="text-danger" *ngIf="submitFormControl.services.errors?.required">
                                Services is required
                            </div>
                        </div>
     
                        </div>
                      </div>
                      <div class="form-group">
                        <textarea
                          class="form-control mb-1"
                          rows="3"
                          id="comment"
                          placeholder="Requirement Brief*"
                          ng-model="enquiry.Requirment"
                          name="Requirement"
                          formControlName="requirementBrief"
                        ></textarea>
                        <div class="text-danger" *ngIf="(submitFormControl.requirementBrief.touched )">
                          <div class="text-danger" *ngIf="submitFormControl.requirementBrief.errors?.required">
                            Requirement is required
                          </div>
                      </div>
   
                      </div>
              
        
                   
        
                      <div class="form-group">
                        <div class="form-check p-0">
                          <label
                            class="form-check-label small"
                            for="invalidCheck2"
                          >
                            Cylsys can contact me with given information. View
                            our
                            <a routerLink="/privacy-policy">Privacy Policy</a>
                            &amp; <a routerLink="/terms-of-use"> Terms of use</a>
                          </label>
                        </div>
                      </div>
                      <div class="submit-form">
                        <div class="row">
                          <div class="col-md-5">
                            <button
                              class="btn btn-primary w-100"
                              type="submit "
                            
                              [class.disabled]="submitForm.invalid " (click)="SaveRequestEndpointApi()"
                            >
                              Submit
                            </button>
                          </div>
                          <div class="col-md-7">
                            <a
                              class="btn btn-success w-100"
                              type="submit "
                              aria-label="Chat on WhatsApp"
                              href="https://wa.me/+919967502270" target="_blank" 
                            >
                              <i
                                class="fab fa-whatsapp social mr-2"
                                aria-label="Whatsapp"
                              ></i>
                              Chat on WhatsApp
                            </a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



<div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="info-section w-100">
          <div class="wow fadeIn mviewhomehide">
            <span class="call"><i class="fab fa-whatsapp social mr-2" aria-label="Whatsapp"></i><a
                href="https://wa.me/+919967502270" class="text-white" target="_blank">+91 9967502270</a></span>
          </div>
          <div class="wow fadeIn mviewhomehide">
            <span class="mail"><i class="fas fa-envelope"></i><a href="mailto:reachus@cylsys.com" class="text-white"
                title="reachus@cylsys.com">reachus@cylsys.com</a></span>
          </div>
          <div class="wow fadeIn">
            <span class="address"><i class="fas fa-map-marker-alt"></i>USA | INDIA | SINGAPORE |
              DUBAI</span>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <header>
    <div class="nv-menu">
      <div class="container">
        <div class="row">
          <div class="navbar-main-wrap">
            <div class="col-md-2">
              <a routerLink="/">
                <img src="../../../../assets/images/logo.png" alt="Logo" class="logo" /></a>
            </div>
            <div class="service-menu col-md-8">
              <div class="dropdown">
                <a routerLink="/" class="dropbtn">Services</a>
                <div class="dropdown-content">
                  <div class="menu-list">
                    <ul class="m-0">
                      <li>
                        <a  routerLink="/software-development">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-5.png"
                            alt="SOFTWARE DEVELOPMENT" />SOFTWARE DEVELOPMENT
                          <p class="small">
                            The entire 360 degree Software development services
                            custom designed for each Business
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="mobile-app-development">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-6.png"
                            alt="MOBILE DEVELOPMENT" />MOBILE APP DEVELOPMENT
                          <p class="small">
                            Cylsys Software creates unique and innovative mobile
                            applications that are feature rich
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="qa-testing">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-10.png" alt="QA & TESTING" />QA &
                          TESTING
                          <p class="small">
                            Continuous innovation is a must in today’s competitive
                            market. A high customer adoption
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="hire-developer">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-8.png"
                            alt="HIRE DEVELOPER(STAFFING)" />HIRE DEVELOPER
                          <p class="small">
                            The very best talent from the Indian Market. We are a
                            pure play IT Company, 10 years plus
                          </p>
                        </a>
                      </li>
                    </ul>
                    <ul class="p-0">
                      <li>
                        <a routerLink="digital-marketing">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-3.png"
                            alt="DIGITAL MARKETING" />DIGITAL MARKETING
                          <p class="small">
                            Wonderful results start with wonderful strategies.
                            We’ve worked with the top organizations
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="ui-ux-design">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-4.png" alt="UI/UX DESIGN" />UI/UX
                          DESIGN
                          <p class="small">
                            Our approach to UX and UI is tightly integrated into a
                            continuous improvement/continuous
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="software-consulting">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-12.png"
                            alt="SOFTWARE CONSULTING" />SOFTWARE CONSULTING
                          <p class="small">
                            We cover all latest technologies like AI, Machine
                            Learning, AR/VR, Block chain Development
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="amc-application">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-7.png" alt="AMC" />AMC APPLICATION
                          <p class="small">
                            Applications that streamline critical functions in the
                            AMC Industry
                          </p>
                        </a>
                      </li>
                    </ul>
                    <ul class="p-0">
                      <!-- <li>
                        <a routerLink="ai-ml">
                          <img
                            class="img-fluid custom_img"
                            src="../../../../assets/images/small-service-1.png"
                            alt="AI ML"
                          />AI ML
                          <p class="small">
                            We are a pure play IT company that is excited by
                            design and development of complex systems.
                          </p>
                        </a>
                      </li> -->
                      <li>
                        <a routerLink="ecommerce">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-2.png" alt="eCommerce" />E-COMMERCE
                          <p class="small">
                            Are you planning to go to the next level of Business
                            by taking your Business Online?? Very Good decision.
                          </p>
                        </a>
                      </li>
                      <!--<li> <a routerLink="rpa-tools.html"> <img class="img-fluid custom_img" src="../../../../assets/images/small-service-2.png" alt="RPA TOOLS"/>RPA TOOLS
                          <p class="small">Robotic process tools are essential for automation of the monotonous back office processes.</p>
                          </a></li>-->
                      <li>
                        <a routerLink="chatbots">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-11.png" alt="CHATBOTS" />CHATBOTS
                          <p class="small">
                            Chatbots are software applications that use artificial
                            intelligence & natural language processing
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="cloud-migration">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-9.png"
                            alt="CLOUD MIGRATION " />CLOUD MIGRATION
                          <p class="small">
                            Cloud migration is one of the critical service
                            provided by Cylsys Software to Businesses of all sizes
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="unicorn-ops">
                          <img class="img-fluid custom_img" src="../../../../assets/images/unicornops_24.png" alt="Unicorn Ops " />Unicorn
                          Ops
                          <p class="small">
                            Lead generation, Call Centre Ops, Data Entry, HR are
                            some of the critical functions that Unicorn Ops offers
                            at commercials which make Business sense
                          </p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <i class="fas fa-circle"></i>
  
              <div class="dropdown">
                <a routerLink="#" class="dropbtn">Products</a>
                <div class="dropdown-content dropdown-content">
                  <div class="menu-list">
                    <ul class="m-0 col-md-6">
                      <li>
                        <a href="http://hire.cylsys.com/" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/freeITstaffing_Logo_24.png" alt="HIRE" />Cylsys
                          Hire
                          <p class="small">
                            This cutting edge CRM which automates the entire HR
                            Business process, offering end to end solutions in the
                            IT Staffing domain
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="https://rollalearning.com" title="Visit Rolla Learning Website" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/rolla 1.png" alt="../../../../assets/images/rolla 1.png" />Rolla
                          Learning Platform
                          <p class="small">
                            A modern, extremely user-friendly learning platform
                            that takes enterprise learning to a new high!
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="https://crm.cylsys.com/" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/ITlead_24.png" alt="Cylsys CRM" />Cylsys CRM
                          <p class="small">
                            Cylsys CRM is the path breaking CRM which covers
                            the entire journey from Lead generation to Lead
                            conversion.
                          </p>
                        </a>
                      </li>
                    </ul>
                    <ul class="p-0 col-md-6">
                      <li>
                        <a href="https://www.myfundbucket.com" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/my_fund_bucket_logo_24.png"
                            alt="My Fund Bucket" />My Fund Bucket
                          <p class="small">
                            The one stop Financial Mall and digital platform which
                            ensures the customer makes an informed and correct
                            choice for all their Financial requirements.
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="https://apps.sendquickemail.com" target="_blank">
                          <i class="fas fa-envelope img-fluid custom_img"></i>
                          Sendquickemail
                          <p class="small">
                            Stop Overpaying for Email and Get the Best Value in
                            Email Delivery & Email Marketing Tools. Revolutionize
                            your marketing efforts with powerful email automation
                            and stunning templates.
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="https://hrms.cylsys.com/" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small/hrms 1.png" alt="hrms" />Cylsys HRMS
                          <p class="small">
                            HRMS is one of a kind HR management app which keeps
                            complete information of employee by HR
                          </p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <i class="fas fa-circle"></i>
              <div class="dropdown">
                <a routerLink="#" class="dropbtn">About us</a>
                <div class="dropdown-content dropdown-content2">
                  <div class="menu-list">
                    <ul class="m-0 col-md-4">
                      <li>
                        <a routerLink="aboutus">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_company_24.png" alt="Campany" />
                          COMPANY
                          <p class="small">
                            Cylsys Software Solution Pvt. Ltd. provides 360 degree
                            solutions in the IT domain.
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="life-in-cylsys">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_life_24.png" alt="Life in Cylsys" />
                          LIFE IN CYLSYS
                          <p class="small">
                            Take the journey through the eyes of a Cylsys Team
                            member
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="team">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_team_24.png" alt="Team" />
                          TEAM
                          <p class="small">
                            The IT Warriors in Images<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="events">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small/cylsys events.png" alt="Contact" />
                          CYLSYS'S EVENTS
                          <p class="small">
                            See All Cylsys Events<br />
                            <br />
                            <br />
                          </p>
                        </a>
                      </li>
                    </ul>
                    <ul class="p-0 col-md-4">
                      <!-- <li>
                                              <a routerLink="testimonial"> <img class="img-fluid custom_img" src="assets/images/about_testimonial_24.png" alt="Testimonial" /> TESTIMONIAL
                                                  <p class="small">WE let our work Speak<br>
                                                      <br>
                                                  </p>
                                              </a>
                                          </li> -->
                      <li>
                        <a routerLink="certification">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_certification_24.png" alt="Certification" />
                          CERTIFICATION
                          <p class="small">
                            We are aligned with the Best in the Industry<br />
                            <br />
                          </p>
                        </a>
                      </li>
  
                      <li>
                        <a routerLink="clients">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_clients_24.png" alt="Clients" />
                          CLIENTS
                          <p class="small">
                            Our Client Portfolio speaks volumes for itself<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="case-studies">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_case_24.png" alt="Case Studies" />
                          CASE STUDIES
                          <p class="small">
                            Showcasing a select few of our amazing work that we
                            have done in this Industry
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="contactus">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_contact_24.png" alt="Contact" />
                          CONTACT US
                          <p class="small">
                            Reach out to us<br />
                            <br /><br />
                          </p>
                        </a>
                      </li>
                      <!-- <li>
                                              <a routerLink="https://blog.cylsys.com" target="_blank"> <img class="img-fluid custom_img" src="../../../../assets/images/about_bog_24.png" alt="Blogs" /> OUR BLOGS
                                                  <p class="small">Our Blogs are a Treasure trove of Knowledge garnered though our 10 + Years of Experience</p>
                                              </a>
                                          </li> -->
                    </ul>
                    <ul class="p-0 col-md-4">
                      <li>
                        <a routerLink="press">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_press_24.png" alt="Press" />
                          PRESS
                          <p class="small">
                            Building Effective IT Solutions<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="career">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_career1_24.png" alt="Contact" />
                          CAREER
                          <p class="small">
                            Career Opportunities<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="career-fresher">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_career2_24.png" alt="Contact" />
                          CAREER FOR FRESHER
                          <p class="small">
                            Provided successful career<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a routerLink="become_our_partner">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small/cylsys events.png" alt="Contact" />
                          Became our partner
  
                          <p class="small">
                            Scale your business with Cylsys and become a Reseller Partner. A great opportunity for
                            Creative Agencies, Software & IT Companies and Channel Sales Partners.
  
                          </p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn gradient-btn demo get-quote" data-toggle="modal" data-target="#myModal">
                Request A Quote
              </button>
              <!--<button class="btn gradient-btn demo get-quote" onclick="window.location.href='contactus.html'">Request A Quote</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>