<div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="info-section w-100">
          <div class="wow fadeIn mviewhomehide">
            <span class="call"><i class="fab fa-whatsapp social mr-2" aria-label="Whatsapp"></i><a
                href="https://wa.me/+919967502270" class="text-white" target="_blank">+91 9967502270</a></span>
          </div>
          <div class="wow fadeIn mviewhomehide">
            <span class="mail"><i class="fas fa-envelope"></i><a href="mailto:reachus@cylsys.com" class="text-white"
                title="reachus@cylsys.com">reachus@cylsys.com</a></span>
          </div>
          <div class="wow fadeIn">
            <span class="address"><i class="fas fa-map-marker-alt"></i>USA | INDIA | SINGAPORE |
              DUBAI</span>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <header>
    <div class="nv-menu">
      <div class="container">
        <div class="row">
          <div class="navbar-main-wrap">
            <div class="col-md-2">
              <a href="https://www.cylsys.com/">
                <img src="../../../../assets/images/logo.png" alt="Logo" class="logo" /></a>
            </div>
            <div class="service-menu col-md-8">
              <div class="dropdown">
                <a href="#" class="dropbtn">Services</a>
                <div class="dropdown-content">
                  <div class="menu-list">
                    <ul class="m-0">
                      <li>
                        <a href="software-development.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-5.png"
                            alt="SOFTWARE DEVELOPMENT" />SOFTWARE DEVELOPMENT
                          <p class="small">
                            The entire 360 degree Software development services
                            custom designed for each Business
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="mobile-app-development.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-6.png"
                            alt="MOBILE DEVELOPMENT" />MOBILE APP DEVELOPMENT
                          <p class="small">
                            Cylsys Software creates unique and innovative mobile
                            applications that are feature rich
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="qa-testing.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-10.png" alt="QA & TESTING" />QA &
                          TESTING
                          <p class="small">
                            Continuous innovation is a must in today’s competitive
                            market. A high customer adoption
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="hire-developer.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-8.png"
                            alt="HIRE DEVELOPER(STAFFING)" />HIRE DEVELOPER
                          <p class="small">
                            The very best talent from the Indian Market. We are a
                            pure play IT Company, 10 years plus
                          </p>
                        </a>
                      </li>
                    </ul>
                    <ul class="p-0">
                      <li>
                        <a href="digital-marketing.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-3.png"
                            alt="DIGITAL MARKETING" />DIGITAL MARKETING
                          <p class="small">
                            Wonderful results start with wonderful strategies.
                            We’ve worked with the top organizations
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="ui-ux-design.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-4.png" alt="UI/UX DESIGN" />UI/UX
                          DESIGN
                          <p class="small">
                            Our approach to UX and UI is tightly integrated into a
                            continuous improvement/continuous
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="software-consulting.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-12.png"
                            alt="SOFTWARE CONSULTING" />SOFTWARE CONSULTING
                          <p class="small">
                            We cover all latest technologies like AI, Machine
                            Learning, AR/VR, Block chain Development
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="amc.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-7.png" alt="AMC" />AMC APPLICATION
                          <p class="small">
                            Applications that streamline critical functions in the
                            AMC Industry
                          </p>
                        </a>
                      </li>
                    </ul>
                    <ul class="p-0">
                      <!-- <li>
                        <a href="ai-ml.html">
                          <img
                            class="img-fluid custom_img"
                            src="../../../../assets/images/small-service-1.png"
                            alt="AI ML"
                          />AI ML
                          <p class="small">
                            We are a pure play IT company that is excited by
                            design and development of complex systems.
                          </p>
                        </a>
                      </li> -->
                      <li>
                        <a href="ecommerce.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-2.png" alt="eCommerce" />E-COMMERCE
                          <p class="small">
                            Are you planning to go to the next level of Business
                            by taking your Business Online?? Very Good decision.
                          </p>
                        </a>
                      </li>
                      <!--<li> <a href="rpa-tools.html"> <img class="img-fluid custom_img" src="../../../../assets/images/small-service-2.png" alt="RPA TOOLS"/>RPA TOOLS
                          <p class="small">Robotic process tools are essential for automation of the monotonous back office processes.</p>
                          </a></li>-->
                      <li>
                        <a href="chatbots.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-11.png" alt="CHATBOTS" />CHATBOTS
                          <p class="small">
                            Chatbots are software applications that use artificial
                            intelligence & natural language processing
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="cloud-migration.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small-service-9.png"
                            alt="CLOUD MIGRATION " />CLOUD MIGRATION
                          <p class="small">
                            Cloud migration is one of the critical service
                            provided by Cylsys Software to Businesses of all sizes
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="unicorn-ops.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/unicornops_24.png" alt="Unicorn Ops " />Unicorn
                          Ops
                          <p class="small">
                            Lead generation, Call Centre Ops, Data Entry, HR are
                            some of the critical functions that Unicorn Ops offers
                            at commercials which make Business sense
                          </p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <i class="fas fa-circle"></i>
  
              <div class="dropdown">
                <a href="#" class="dropbtn">Products</a>
                <div class="dropdown-content dropdown-content">
                  <div class="menu-list">
                    <ul class="m-0 col-md-6">
                      <li>
                        <a href="http://hire.cylsys.com/" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/freeITstaffing_Logo_24.png" alt="HIRE" />Cylsys
                          Hire
                          <p class="small">
                            This cutting edge CRM which automates the entire HR
                            Business process, offering end to end solutions in the
                            IT Staffing domain
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="https://rollalearning.com" title="Visit Rolla Learning Website" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/rolla 1.png" alt="../../../../assets/images/rolla 1.png" />Rolla
                          Learning Platform
                          <p class="small">
                            A modern, extremely user-friendly learning platform
                            that takes enterprise learning to a new high!
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="https://crm.cylsys.com/" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/ITlead_24.png" alt="Cylsys CRM" />Cylsys CRM
                          <p class="small">
                            Cylsys CRM is the path breaking CRM which covers
                            the entire journey from Lead generation to Lead
                            conversion.
                          </p>
                        </a>
                      </li>
                    </ul>
                    <ul class="p-0 col-md-6">
                      <li>
                        <a href="https://www.myfundbucket.com" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/my_fund_bucket_logo_24.png"
                            alt="My Fund Bucket" />My Fund Bucket
                          <p class="small">
                            The one stop Financial Mall and digital platform which
                            ensures the customer makes an informed and correct
                            choice for all their Financial requirements.
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="https://apps.sendquickemail.com" target="_blank">
                          <i class="fas fa-envelope img-fluid custom_img"></i>
                          Sendquickemail
                          <p class="small">
                            Stop Overpaying for Email and Get the Best Value in
                            Email Delivery & Email Marketing Tools. Revolutionize
                            your marketing efforts with powerful email automation
                            and stunning templates.
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="https://hrms.cylsys.com/" target="_blank">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small/hrms 1.png" alt="hrms" />Cylsys HRMS
                          <p class="small">
                            HRMS is one of a kind HR management app which keeps
                            complete information of employee by HR
                          </p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <i class="fas fa-circle"></i>
              <div class="dropdown">
                <a href="#" class="dropbtn">About us</a>
                <div class="dropdown-content dropdown-content2">
                  <div class="menu-list">
                    <ul class="m-0 col-md-4">
                      <li>
                        <a href="aboutus.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_company_24.png" alt="Campany" />
                          COMPANY
                          <p class="small">
                            Cylsys Software Solution Pvt. Ltd. provides 360 degree
                            solutions in the IT domain.
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="life-in-cylsys.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_life_24.png" alt="Life in Cylsys" />
                          LIFE IN CYLSYS
                          <p class="small">
                            Take the journey through the eyes of a Cylsys Team
                            member
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="team.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_team_24.png" alt="Team" />
                          TEAM
                          <p class="small">
                            The IT Warriors in Images<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="events.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small/cylsys events.png" alt="Contact" />
                          CYLSYS'S EVENTS
                          <p class="small">
                            See All Cylsys Events<br />
                            <br />
                            <br />
                          </p>
                        </a>
                      </li>
                    </ul>
                    <ul class="p-0 col-md-4">
                      <!-- <li>
                                              <a href="testimonial.html"> <img class="img-fluid custom_img" src="assets/images/about_testimonial_24.png" alt="Testimonial" /> TESTIMONIAL
                                                  <p class="small">WE let our work Speak<br>
                                                      <br>
                                                  </p>
                                              </a>
                                          </li> -->
                      <li>
                        <a href="certification.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_certification_24.png" alt="Certification" />
                          CERTIFICATION
                          <p class="small">
                            We are aligned with the Best in the Industry<br />
                            <br />
                          </p>
                        </a>
                      </li>
  
                      <li>
                        <a href="clients.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_clients_24.png" alt="Clients" />
                          CLIENTS
                          <p class="small">
                            Our Client Portfolio speaks volumes for itself<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="case-studies.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_case_24.png" alt="Case Studies" />
                          CASE STUDIES
                          <p class="small">
                            Showcasing a select few of our amazing work that we
                            have done in this Industry
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="contactus.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_contact_24.png" alt="Contact" />
                          CONTACT US
                          <p class="small">
                            Reach out to us<br />
                            <br /><br />
                          </p>
                        </a>
                      </li>
                      <!-- <li>
                                              <a href="https://blog.cylsys.com" target="_blank"> <img class="img-fluid custom_img" src="../../../../assets/images/about_bog_24.png" alt="Blogs" /> OUR BLOGS
                                                  <p class="small">Our Blogs are a Treasure trove of Knowledge garnered though our 10 + Years of Experience</p>
                                              </a>
                                          </li> -->
                    </ul>
                    <ul class="p-0 col-md-4">
                      <li>
                        <a href="press.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_press_24.png" alt="Press" />
                          PRESS
                          <p class="small">
                            Building Effective IT Solutions<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="career.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_career1_24.png" alt="Contact" />
                          CAREER
                          <p class="small">
                            Career Opportunities<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="career-fresher.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/about_career2_24.png" alt="Contact" />
                          CAREER FOR FRESHER
                          <p class="small">
                            Provided successful career<br />
                            <br />
                          </p>
                        </a>
                      </li>
                      <li>
                        <a href="became_our_partner.html">
                          <img class="img-fluid custom_img" src="../../../../assets/images/small/cylsys events.png" alt="Contact" />
                          Became our partner
  
                          <p class="small">
                            Scale your business with Cylsys and become a Reseller Partner. A great opportunity for
                            Creative Agencies, Software & IT Companies and Channel Sales Partners.
  
                          </p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn gradient-btn demo get-quote" data-toggle="modal" data-target="#myModal">
                Request A Quote
              </button>
              <!--<button class="btn gradient-btn demo get-quote" onclick="window.location.href='contactus.html'">Request A Quote</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>