<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">
      <!-- include header end -->
      <div class="container-fluid p-0">
        <img
          src="assets/images//chatbot.jpg "
          alt="chatbot "
          class="innerbanner wow slideInDown"
        />
      </div>
      <!--end-->
      <!--start-->
      <div class="container body-content inner wow slideInUp innertop">
        <div class="row">
          <div class="col-md-4">
            <h2><span class="border-bottom border-success">Chatbots</span></h2>
            <h6>
              Chatbots are software applications that use artificial
              intelligence & natural language processing to understand what a
              human wants, and guides them to their desired outcome with as
              little work for the end user as possible. Like a virtual assistant
              for your customer experience touchpoints.
            </h6>
          </div>
          <div class="col-md-8 pt-2">
            <div class="row mt-5">
              <div class="col-md-3 col-3">
                <img
                  src="assets/images//chatbots/chat1.jpg "
                  class="pl-3 pr-3 border mb-2"
                  alt="Chatbots "
                  width="100% "
                />
              </div>
              <div class="col-md-3 col-3">
                <img
                  src="assets/images//chatbots/chat2.jpg "
                  class="pl-3 pr-3 border mb-2"
                  alt="Chatbots "
                  width="100% "
                />
              </div>
              <div class="col-md-3 col-3">
                <img
                  src="assets/images//chatbots/chat3.jpg "
                  class="pl-3 pr-3 border mb-2"
                  alt="Chatbots "
                  width="100% "
                />
              </div>
              <div class="col-md-3 col-3">
                <img
                  src="assets/images//chatbots/chat4.jpg "
                  class="pl-3 pr-3 border mb-2"
                  alt="Chatbots "
                  width="100% "
                />
              </div>
              <div class="col-md-3 col-3">
                <img
                  src="assets/images//chatbots/chat5.jpg "
                  class="pl-3 pr-3 border mb-2"
                  alt="Chatbots "
                  width="100% "
                />
              </div>
              <div class="col-md-3 col-3">
                <img
                  src="assets/images//chatbots/chat6.jpg "
                  class="pl-3 pr-3 border mb-2"
                  alt="Chatbots "
                  width="100% "
                />
              </div>
              <div class="col-md-3 col-3">
                <img
                  src="assets/images//chatbots/chat7.jpg "
                  class="pl-3 pr-3 border mb-2"
                  alt="Chatbots "
                  width="100% "
                />
              </div>
              <div class="col-md-3 col-3">
                <img
                  src="assets/images//chatbots/chat8.jpg "
                  class="pl-3 pr-3 border mb-2"
                  alt="Chatbots "
                  width="100% "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container body-content inner wow slideInUp">
        <h2 class="text-center">Chatbots</h2>
      </div>
      <div class="container body-content inner wow slideInUp">
        <p>
          One of the most interesting parts of the chatbot space is the variety
          of ways you can build a chatbot. The underlying technology can vary
          quite a bit, but it really all comes down to what your goals are.
        </p>
        <p>
          There’s no denying the hype that’s been surrounding chatbots over the
          past few years. Whether you view the technology as a passing fad, or
          believe that chatbots will revolutionize how people communicate and
          interact, the impact chatbots are having on online experiences is
          real…and it’s measurable.
        </p>
      </div>
      <div class="container body-content inner wow slideInUp mt-5">
        <h4>Benefits of Chatbots</h4>
        <p>
          Today’s marketing & sales teams are under a lot of pressure to not
          only show results, but to constantly be improving the customer
          experience. It’s a big task. Not to mention the ever-increasing
          expectations of today's consumers.
        </p>
        <p>
          Today, we expect answers immediately, and we expect that they will be
          accurate. This can be done with human beings up to a certain tipping
          point, then technology has to be the answer. This is why
          forward-thinking brands have adopted chatbots to help them.
        </p>
        <h4 class="mt-5 mb-5">The Cylsys Software expertise in Chatbots</h4>
        <!--<div class="row text-center "> <img src="assets/images//chat1.jpg " alt="chatbot " class="border p-1 m-2 " width="100% ">
      <div class="col-md-2 p-0 ">
        <h3>Live Chat</h3>
        <p>These bots are primarily used by Sales & Business Development teams. They can also be used by Customer Support organizations, as live chat is a more simplistic chat option to answer questions in real-time.</p>
      </div>
      <div class="col-md-3 ">
        <h3>Converting Visitors on<br>
          websites to Leads</h3>
        <p>24×7 virtual agents engaging with every visitor and providing first-hand customer engagement experience to convert them into valuable qualified leads. </p>
      </div>
      <div class="col-md-2 ">
        <h3>More Customers added</h3>
        <p>ML powered recommendation to upsell and cross-sell to existing customers as well as the new ones.</p>
      </div>
      <div class="col-md-3 ">
        <h3>Assisting the Field Force<br>
          to achieve set Targets</h3>
        <p>Driving Field Sales with the help of AI. Enabling field salespersons with product, promotion, process knowledge at their fingertips.</p>
      </div>
      <div class="col-md-2 p-0 ">
        <h3>Creating the New Age Customer Support</h3>
        <p>Automating customer support on multiple channels, with a quicker turnaround time and better accuracy, without losing the human touch and in their local language.</p>
      </div>
    </div>-->
      </div>
      <div class="container body-content inner pb-5">
        <div class="row">
          <div class="col-md-6 p-4 bhide bshow">
            <img src="assets/images//chatbotn.png " alt="Chatbot " width="90% " />
          </div>
          <div class="col-md-6 b-shadow">
            <div class="bs-example">
              <div class="accordion acconew" id="accordionExample ">
                <div class="card">
                  <div class="card-header" id="headingOne ">
                    <h3 class="mb-0">
                      <a
                        href=" "
                        class="bg-white text-dark"
                        data-toggle="collapse "
                        data-target="#collapseOne "
                        ><i class="fa fa-plus plus"></i
                        ><strong>Live Chat</strong></a
                      >
                    </h3>
                  </div>
                  <div
                    id="collapseOne "
                    class="collapse"
                    aria-labelledby="headingOne "
                    data-parent="#accordionExample "
                  >
                    <div class="card-body">
                      <p>
                        These bots are primarily used by Sales & Business
                        Development teams. They can also be used by Customer
                        Support organizations, as live chat is a more simplistic
                        chat option to answer questions in real-time.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo ">
                    <h3 class="mb-0">
                      <a
                        href=" "
                        class="bg-white text-dark collapsed"
                        data-toggle="collapse "
                        data-target="#collapseTwo "
                        ><i class="fa fa-plus plus"></i
                        ><strong
                          >Converting Visitors on websites to Leads</strong
                        ></a
                      >
                    </h3>
                  </div>
                  <div
                    id="collapseTwo "
                    class="collapse"
                    aria-labelledby="headingTwo "
                    data-parent="#accordionExample "
                  >
                    <div class="card-body">
                      <p>
                        24×7 virtual agents engaging with every visitor and
                        providing first-hand customer engagement experience to
                        convert them into valuable qualified leads.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree ">
                    <h3 class="mb-0">
                      <a
                        href=" "
                        class="bg-white text-dark collapsed"
                        data-toggle="collapse "
                        data-target="#collapseThree "
                        ><i class="fa fa-plus plus"></i>
                        <strong>More Customers added</strong></a
                      >
                    </h3>
                  </div>
                  <div
                    id="collapseThree "
                    class="collapse"
                    aria-labelledby="headingThree "
                    data-parent="#accordionExample "
                  >
                    <div class="card-body">
                      <p>
                        ML powered recommendation to upsell and cross-sell to
                        existing customers as well as the new ones.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour ">
                    <h3 class="mb-0">
                      <a
                        href=" "
                        class="bg-white text-dark collapsed"
                        data-toggle="collapse "
                        data-target="#collapseFour "
                        ><i class="fa fa-plus plus"></i>
                        <strong
                          >Assisting the Field Force to achieve set
                          Targets</strong
                        ></a
                      >
                    </h3>
                  </div>
                  <div
                    id="collapseFour "
                    class="collapse"
                    aria-labelledby="headingThree "
                    data-parent="#accordionExample "
                  >
                    <div class="card-body">
                      <p>
                        Driving Field Sales with the help of AI. Enabling field
                        salespersons with product, promotion, process knowledge
                        at their fingertips.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFive ">
                    <h3 class="mb-0">
                      <a
                        href=" "
                        class="bg-white text-dark collapsed"
                        data-toggle="collapse "
                        data-target="#collapseFive "
                        ><i class="fa fa-plus plus"></i>
                        <strong
                          >Creating the New Age Customer Support</strong
                        ></a
                      >
                    </h3>
                  </div>
                  <div
                    id="collapseFive "
                    class="collapse"
                    aria-labelledby="headingThree "
                    data-parent="#accordionExample "
                  >
                    <div class="card-body">
                      <p>
                        Automating customer support on multiple channels, with a
                        quicker turnaround time and better accuracy, without
                        losing the human touch and in their local language.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-4 mviewhomehide">
            <img src="assets/images//chatbotn.png " alt="Chatbot " width="90% " />
          </div>
        </div>
      </div>
      <hr />
      <div class="container body-content inner wow slideInUp mt-5">
        <h2>Chatbots Videos</h2>
        <div class="row">
          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              width="100% "
              src="https://www.youtube.com/embed/N5jbjNHsYsc "
              frameborder="0 "
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture "
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              width="100% "
              src="https://www.youtube.com/embed/SKocYEkUr0I "
              frameborder="0 "
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture "
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              width="100% "
              src="https://www.youtube.com/embed/jrSruicAjm4 "
              frameborder="0 "
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture "
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              width="100% "
              src="https://www.youtube.com/embed/4IsJie5YFN8 "
              frameborder="0 "
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture "
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              width="100% "
              src="https://www.youtube.com/embed/je6jB9ZqDbQ "
              frameborder="0 "
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture "
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

    </div>
</div>
