
<div ng-app="myApp" ng-controller="Enquiry">
 
    <div id="fullpage">
      
      <div class="container-fluid p-0">
        <img
          src="assets/images/events.png"
          alt="assets/images/events.png"
          class="innerbanner wow slideInDown"
        />
      </div>

      <!--start-->

      <div class="container body-content inner wow slideInUp innertop">
        <h2><span class="border-bottom border-success">Cylsys's Events</span></h2>
        
      </div><hr />

      <div class="container mt-40 inner wow slideInUp">
        <div class="row mt-30">
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight">
            <div class="box12 border">
              <img
                src="assets/images/woman's/pic-2.png"
                width="100%"
                alt="assets/images/woman's/pic-2.png"
              />
              <div class="box-content">
                <a routerLink="/women's-day">
                  <h3 class="title">Woman's Day</h3>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight">
            <div class="box12 border">
              <img
                src="assets/images/republic day/pic-4.png"
                width="100%"
                alt="assets/images/republic day/pic-4.png"
              />
              <div class="box-content">
                <a routerLink="/republic">
                  <h3 class="title">Republic Day</h3>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight">
            <div class="box12 border">
              <img
                src="assets/images/team/team27.png "
                width="100%"
                alt="assets/images/team/team27.png"
                style="height: 237px"
              />
              <div class="box-content">
                <a routerLink="/sports">
                  <h3 class="title">Sports day</h3>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight">
            <div class="box12 border">
              <img
                src="assets/images/holi/2023/pic-1.jpg"
                width="100%"
                alt="assets/images/holi/2023/pic-1.jpg"
                style="height: 237px"
              />
              <div class="box-content">
                <a routerLink="/holi">
                  <h3 class="title">Holi day</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--end-->

  
    </div>
    <!--end-->
   
   
    
</div>
