<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">
      <!-- include header end -->
      <div class="container-fluid p-0">
        <img
          src="assets/images//unicorn.jpg"
          alt="Sitemap"
          class="innerbanner wow slideInDown"
        />
      </div>
      <!--end-->
      <!--start-->
      <div class="container body-content inner wow slideInUp innertop">
        <h2><span class="border-bottom border-success">Unicorn OPS</span></h2>
        <h3>
          Are you looking for a Solution for all your Backend Requirements?
        </h3>
      </div>
      <hr />
      <div class="container body-content inner wow slideInUp mb-5">
        <p>
          Are you looking for some Economical Solution for a part of your OPs
          where the wage bill will not be a burden on the Business and the
          quality of work is still Top notch?
        </p>
        <p>
          Your search ends at Cylsys Software. After the stupendous success in
          its Business verticals of Software Development, IT Staffing and
          Digital Marketing, Cylsys Software offers Unicorn OPS – A path
          breaking Outsourced service to take care of all your Backend or
          Operations requirement and deliver results according to set
          parameters. And all this at very Economical commercials.
        </p>
        <p>
          We have a state of the art facility at Gadarwara in Madhya Pradesh
          with a crack team of 80 plus talented professionals who will give
          shape to your Business vision in a definite time frame.
        </p>
        <p>
          These services can be opted on an hourly / daily / weekly or Monthly
          basis. Teams are allocated as per the function and skill sets required
          for the particular project.
        </p>
        <p>
          So what are you waiting for ? Allow Unicorn OPS to transform your
          Business ideas to successful implementation and finally to achieving
          your Business goals.
        </p>
      </div>
      <div class="container body-content inner wow slideInUp mt-5">
        <h4 class="text-center mb-5">
          Some amazing services in Unicorn OPS<br />
          currently offers to some of our Esteemed clients are
        </h4>
        <div class="row text-center">
          <div class="col-md-4 col-6 mb-3">
            <img src="assets/images//assist_1.jpg" width="70%" alt="Unicorn OPS" />
            <h3>Back office Operations</h3>
          </div>
          <div class="col-md-4 col-6 mb-3">
            <img src="assets/images//assist_2.jpg" width="70%" alt="Unicorn OPS" />
            <h3>Sms / Email campaigns</h3>
          </div>
          <div class="col-md-4 col-6 mb-3">
            <img src="assets/images//assist_3.jpg" width="70%" alt="Unicorn OPS" />
            <h3>Lead Generation</h3>
          </div>
          <div class="col-md-4 col-6 mb-3">
            <img src="assets/images//assist_4.jpg" width="70%" alt="Unicorn OPS" />
            <h3>Data Entry</h3>
          </div>
          <div class="col-md-4 col-6 mb-3">
            <img src="assets/images//assist_5.jpg" width="70%" alt="Unicorn OPS" />
            <h3>Call Center Ops</h3>
          </div>
          <div class="col-md-4 col-6 mb-3">
            <img src="assets/images//assist_6.jpg" width="70%" alt="Unicorn OPS" />
            <h3>Scheduling Appointments for professionals like Doctors</h3>
          </div>
        </div>
      </div>
      <div class="industry">
        <div class="container wow inner text-center slideInUp">
          <h2 class="text-white pt-0">Industry Verticals Served</h2>
          <div class="row text-center text-white p-1">
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-bank fa-3x"></i>
              <h5>Finance & Insurance</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-user-md fa-3x"></i>
              <h5>Health care</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-shopping-cart fa-3x"></i>
              <h5>Ecommerce</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-user fa-3x"></i>
              <h5>Professional Services</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-clock fa-3x"></i>
              <h5>Consumer Durable</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-video-camera fa-3x"></i>
              <h5>Media & Advertising</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-desktop fa-3x"></i>
              <h5>Consumer Electronics</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-cubes fa-3x"></i>
              <h5>Manufacturing</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-mobile fa-3x"></i>
              <h5>Telecom</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-automobile fa-3x"></i>
              <h5>Automobile</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-graduation-cap fa-3x"></i>
              <h5>Education</h5>
            </div>
            <div class="col-md-2 col-4 mb-3">
              <i class="fas fa-file-video fa-3x"></i>
              <h5>Entertainment</h5>
            </div>
          </div>
        </div>
      </div>
      <section class="section testmonial1">
        <div class="container">
          <div class="heading">
            <h2 class="mb-5">Testimonials</h2>
          </div>
          <div class="row text-center wow fadeInDown">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner col-md-12">
                <div class="carousel-item active">
                  <h5>Innocent Warmey</h5>
                  <p>
                    Great work - delays in project was driven by me and <br />
                    this provider worked around these delays.
                  </p>
                  <h6><strong>Project</strong>: Ifrica Design</h6>
                </div>
                <div class="carousel-item">
                  <h5>Rakesh Gupta</h5>
                  <p>
                    Excellent work, responsibility and execution <br />
                    according to that agreed.
                  </p>
                  <h6><strong>Project</strong>: Web Services</h6>
                </div>
                <div class="carousel-item">
                  <h5>V.K.Jain.</h5>
                  <p>
                    Met requirements in a timely manner. <br />
                    Good communication throughout the process.
                  </p>
                  <h6><strong>Project</strong>: MPSSIO</h6>
                </div>
                <div class="carousel-item">
                  <h5>Arpit Jain</h5>
                  <p>
                    These guys are prompt and very talented! <br />
                    I am extremely happy with them!
                  </p>
                  <h6><strong>Project</strong>: VSA Accessories</h6>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section>


    </div>
</div>