<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">

        <div class="container-fluid p-0">
            <img
              src="assets/images/privacypolicy.jpg"
              alt="Privacy Policy"
              class="innerbanner wow slideInDown"
            />
          </div>
          <!--end-->
          <!--start-->
          <div class="container body-content inner wow slideInUp innertop">
            <h2><span class="border-bottom border-success">E-COMMERCE</span></h2>
            <h3>
              Are you planning to go to the next level of Business by taking your
              Business Online?? Very Good decision.
            </h3>
          </div>
          <hr />
          <div class="container body-content inner wow slideInUp">
            <p>
              In today World, more so in these times of Covid and lockdowns, it
              makes more Business sense going Online and expanding your customer
              base and increase your daily volume of sales and in turn Revenue.
            </p>
            <p>
              You also end up giving your customers a Safe and seamless experience
              of browsing through your product line, comparing options and finally
              paying for the products online through the payment gateway and getting
              the selected product delivered at the address of their choice. This is
              what Customers want without having to step out of their homes.
            </p>
            <p>
              Cylsys Software offers you Cutting edge solutions in eCommerce Web
              Development and helps you create your very own Online Store taking
              your products directly into the homes & offices of your customers.
            </p>
            <p>
              Our eCommerce Web Development solutions offer Easy to navigate user
              interface, integration of Payment gateways and Shipping options. Best
              in the business security features, Product Inventory which can be
              easily and constantly monitored and much more.
            </p>
          </div>
          <div class="container body-content inner wow slideInUp mb-5 text-center">
            <div class="card-deck mt-4">
              <div class="card b-shadow">
                <div class="card-body">
                  <img src="assets/images/ecomm1.jpg" alt="eCommerce" />
                  <h5 class="card-title"><strong>Cs Cart</strong></h5>
                  <p class="card-text">
                    The team has developers who are Aces at Cs Cart which will help
                    your eCommerce website achieve record breaking Sales. By using
                    Cs Cart your store can be embedded to other websites as a
                    widget. Optimize your store by adding testimonials and product
                    reviews, increase average bill with cross- selling tools, track
                    abandoned carts, launch email marketing, create a blog and lots
                    more.
                  </p>
                </div>
              </div>
              <div class="card b-shadow">
                <div class="card-body">
                  <img src="assets/images/ecomm2.jpg" alt="eCommerce" />
                  <h5 class="card-title"><strong>Magento</strong></h5>
                  <p class="card-text">
                    We can build Customized, user friendly and feature rich
                    eCommerce websites as our Team has rich expertise in Magento
                    development. Be it Payment Integration or Shipping or Multi
                    -Vendor development, We create the matching solutions as per
                    your requirements.
                  </p>
                </div>
              </div>
              <div class="card b-shadow">
                <div class="card-body">
                  <img src="assets/images/ecomm3.jpg" alt="eCommerce" />
                  <h5 class="card-title"><strong>Shopify</strong></h5>
                  <p class="card-text">
                    Our Team makes the best utilization of the Shopify platform to
                    build Exclusive and Robust eCommerce websites within client set
                    deadlines and as per client specifications. Our Team develops
                    scalable eCommerce websites which can adapt to your expanding
                    Business and Business ideas.
                  </p>
                </div>
              </div>
            </div>
            <div class="card-deck mt-4">
              <div class="card b-shadow">
                <div class="card-body">
                  <img src="assets/images/ecomm4.jpg" alt="eCommerce" />
                  <h5 class="card-title"><strong>Wordpress</strong></h5>
                  <p class="card-text">
                    Our Team uses Wordpress to the maximum effect by using specific
                    Plugins that add complete functionality to your eCommerce
                    website, from Product display to Shopping cart and finally to
                    Checkout.
                  </p>
                </div>
              </div>
              <div class="card b-shadow">
                <div class="card-body">
                  <img src="assets/images/ecomm5.jpg" alt="eCommerce" />
                  <h5 class="card-title"><strong>PrestaShop</strong></h5>
                  <p class="card-text">
                    We build eCommerce websites which stand out from the rest and
                    which meet all your expectations. Our Team has years of
                    expertise in PrestaShop to create websites with eye-catching
                    display, Super-fast loading speed, the highest level of security
                    and customized functionality.
                  </p>
                </div>
              </div>
            </div>
          </div>
    

    </div>
</div>
