<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">

      <!-- include header end -->
      <div class="container-fluid p-0">
        <img
          src="assets/images//ui-ux.jpg"
          alt="UI/UX Design"
          class="innerbanner wow slideInDown"
        />
      </div>
      <!--end-->
      <!--start-->
      <div class="container body-content inner wow slideInUp innertop">
        <h2><span class="border-bottom border-success">UI/UX Design</span></h2>
        <h3>
          Our approach to UX and UI is tightly integrated into a continuous
          improvement/continuous deployment schedule
        </h3>
      </div>
      <hr />
      <div class="container body-content inner wow slideInUp">
        <p>
          Our approach to UX and UI is tightly integrated into a continuous
          improvement/continuous deployment schedule, using our proven agile
          DevOps processes to deliver new features and UI updates every month.
          User feedback via analytics is integrated into our sprint planning
          process to continuously improve the user experience for our customers.
        </p>
        <h3>UI / UX Custom Solutions</h3>
        <p>
          From a rebranding, to redesigning an existing product or service, or
          market research and analysis, strategy alignment, or any combination
          in-between, SpryOX is here to customize a solution for you. Your
          design will not only be aligned with your goals, but users will be
          able to readily find the information they need.
        </p>
        <h3>Our design professionals will create:</h3>
        <div class="row wow slideInRight text-center">
          <div class="col-md-2 col-6 mb-1">
            <p>
              <i class="fas fa-users fa-3x innerfa"></i><br />
              USER PERSONAS
            </p>
          </div>
          <div class="col-md-2 col-6 mb-1">
            <p>
              <i class="fas fa-sitemap fa-3x innerfa"></i><br />
              USER FLOWS
            </p>
          </div>
          <div class="col-md-2 col-6 mb-1">
            <p>
              <i class="fas fa-list-alt fa-3x innerfa"></i><br />
              WIREFRAMES
            </p>
          </div>
          <div class="col-md-2 col-6 mb-1">
            <p>
              <i class="fas fa-book-reader fa-3x innerfa"></i><br />
              STYLE GUIDES
            </p>
          </div>
          <div class="col-md-2 col-6 mb-1">
            <p>
              <i class="fas fa-images fa-3x innerfa"></i><br />
              HIGH FIDELITY DESIGN MOCKUPS
            </p>
          </div>
          <div class="col-md-2 col-6 mb-1">
            <p>
              <i class="fas fa-cogs fa-3x innerfa"></i><br />
              RAPID PROTOTYPES
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div class="container text-center inner wow slideInUp">
        <h2>Explore Our Mobile App Portfolio</h2>
        <h4>
          We develop seamless and agile mobile applications. The outputs never
          disappointed us and never failed to delight the customer.
        </h4>
        <div class="gallery mt-4">
          <a href="images/mob/cylsys_client-my_fund_bucket_App1.jpg" class="big"
            ><img
              src="assets/images//mob/cylsys_client-my_fund_bucket_App1.jpg"
              alt="images/mob/cylsys_client-my_fund_bucket_App1.jpg"
          /></a>
          <a href="images/mob/cylsys_client-open_med_app2.jpg"
            ><img
              src="assets/images//mob/cylsys_client-open_med_app2.jpg"
              alt="images/mob/cylsys_client-open_med_app2.jpg"
          /></a>
          <a href="images/mob/cylsys_client-kitchary_app3.jpg"
            ><img
              src="assets/images//mob/cylsys_client-kitchary_app3.jpg"
              alt="images/mob/cylsys_client-kitchary_app3.jpg"
          /></a>
          <a href="images/mob/cylsys_client-healent_app4.jpg"
            ><img
              src="assets/images//mob/cylsys_client-healent_app4.jpg"
              alt="images/mob/cylsys_client-healent_app4.jpg"
          /></a>
          <a href="images/mob/cylsys_client- luzy_app5.jpg"
            ><img
              src="assets/images//mob/cylsys_client- luzy_app5.jpg"
              alt="images/mob/cylsys_client- luzy_app5.jpg"
          /></a>
          <a href="images/mob/cylsys_client-global_skill_app6.jpg"
            ><img
              src="assets/images//mob/cylsys_client-global_skill_app6.jpg"
              alt="images/mob/cylsys_client-global_skill_app6.jpg"
          /></a>
          <a href="images/mob/cylsys_client-newgrowth_app7.jpg"
            ><img
              src="assets/images//mob/cylsys_client-newgrowth_app7.jpg"
              alt="images/mob/cylsys_client-newgrowth_app7.jpg"
          /></a>
          <a href="images/mob/cylsys_client-amerifash_app8.jpg"
            ><img
              src="assets/images//mob/cylsys_client-amerifash_app8.jpg"
              alt="images/mob/cylsys_client-amerifash_app8.jpg"
          /></a>
          <a href="images/mob/cylsys_client-kickchat_app9.jpg"
            ><img
              src="assets/images//mob/cylsys_client-kickchat_app9.jpg"
              alt="images/mob/cylsys_client-kickchat_app9.jpg"
          /></a>
          <a href="images/mob/cylsys_client-spocha_app10.jpg"
            ><img
              src="assets/images//mob/cylsys_client-spocha_app10.jpg"
              alt="images/mob/cylsys_client-spocha_app10.jpg"
          /></a>
          <a href="images/mob/cylsys_client-olie_app11.jpg"
            ><img
              src="assets/images//mob/cylsys_client-olie_app11.jpg"
              alt="images/mob/cylsys_client-olie_app11.jpg"
          /></a>
          <a href="images/mob/cylsys_client-wopnow_app12.jpg"
            ><img
              src="assets/images//mob/cylsys_client-wopnow_app12.jpg"
              alt="images/mob/cylsys_client-wopnow_app12.jpg"
          /></a>
          <a href="images/mob/cylsys_client-wolters_klower_app13.jpg"
            ><img
              src="assets/images//mob/cylsys_client-wolters_klower_app13.jpg"
              alt="images/mob/cylsys_client-wolters_klower_app13.jpg"
          /></a>
          <a href="images/mob/cylsys_client-rolla_learning_app14.jpg"
            ><img
              src="assets/images//mob/cylsys_client-rolla_learning_app14.jpg"
              alt="images/mob/cylsys_client-rolla_learning_app14.jpg"
          /></a>
          <a href="images/mob/cylsys_client-smart_salution_automation_app15.jpg"
            ><img
              src="assets/images//mob/cylsys_client-smart_salution_automation_app15.jpg"
              alt="App"
          /></a>
          <a href="images/mob/cylsys_client-bordertown_casino_app16.jpg"
            ><img
              src="assets/images//mob/cylsys_client-bordertown_casino_app16.jpg"
              alt="images/mob/cylsys_client-bordertown_casino_app16.jpg"
          /></a>
          <a href="images/mob/cylsys_client-fanzone_app17.jpg"
            ><img
              src="assets/images//mob/cylsys_client-fanzone_app17.jpg"
              alt="images/mob/cylsys_client-fanzone_app17.jpg"
          /></a>
          <a href="images/mob/cylsys_client_ui2.jpg"
            ><img
              src="assets/images//mob/cylsys_client_ui2.jpg"
              alt="images/mob/cylsys_client_ui2.jpg"
          /></a>
          <div class="clear"></div>
        </div>
      </div>
      <div class="container inner wow slideInUp">
        <h2 class="mb-3 mt-5 text-center">Our Clients</h2>
        <div class="row">

          <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let slide of clientImgArr">
     
              <ng-template carouselSlide >
                <div class="client-img">
                  <img [src]="slide.url" [alt]="slide.url" class="img-fluid">
                </div>              
              </ng-template>
            </ng-container>
        
          </owl-carousel-o>
        </div>
      </div>
      <div class="container body-content inner wow slideInUp text-center">
        <h2>Style Guide- Videos (Product / Process flow)</h2>
        <h4>
          From a rebranding, to redesigning an existing product or service, or
          market research and analysis, strategy alignment, or any combination
          in-between CYLSYS is here to customize a solution for you.
        </h4>
        <div class="row mt-4">
          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              src="https://www.youtube.com/embed/FvK_sksS6GQ"
              frameborder="0"
              width="100%"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              src="https://www.youtube.com/embed/omffzMHXQ6k"
              frameborder="0"
              width="100%"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              src="https://www.youtube.com/embed/hx6AxhpzMCg"
              frameborder="0"
              width="100%"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              src="https://www.youtube.com/embed/0_wCk_j-l3w"
              frameborder="0"
              width="100%"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              src="https://www.youtube.com/embed/B57MIK3TcaA"
              frameborder="0"
              width="100%"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              src="https://www.youtube.com/embed/79aQn5XaBBY"
              frameborder="0"
              width="100%"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              src="https://www.youtube.com/embed/Tqop2plCF7M"
              frameborder="0"
              width="100%"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              src="https://www.youtube.com/embed/stYJNJoHmlw"
              frameborder="0"
              width="100%"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="col-md-4 mb-1">
            <!-- 1:1 aspect ratio -->
            <iframe
              width="100%"
              src="https://www.youtube.com/embed/vSTTyZXcTB4"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

    </div>
</div>