

  <div ng-app="myApp" ng-controller="Enquiry">
    
    <!--start-->
    <div id="fullpage">
    
      <div class="container-fluid p-0">
        <img
          src="assets/images/holi.png"
          alt="assets/images/holi.png"
          class="innerbanner wow slideInDown"
        />
      </div>

      <!--start-->
      <div class="container body-content inner wow slideInUp">
        <div class="row">
          <div class="col-md-12">
            <strong>
              <h2 class="underlinee">Holi Celebration 2023</h2>
            </strong>
            <strong>
              <p>
                Cylsys Software Solution Pvt. Ltd., celebrated Holi on 11th
                March 2023 with a lot of enthusiasm and zeal. Holi is one of the
                most vibrant and celebrated festivals in India, which signifies
                the victory of good over evil and the arrival of spring. It is
                celebrated with great enthusiasm and joy, with people smearing
                each other with colors, dancing to music, and indulging in
                festive food.
              </p>
            </strong>
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-1.jpg"
              alt="assets/images/holi/2023/pic-1.jpg"
            /><br />
            <strong>
              <br />
              <p>
                The celebrations started with a small puja ceremony, which was
                conducted by one of the employees who had volunteered to perform
                the rituals and wished everyone a Happy and Colorful Holi and
                reminded them to play the festival in a safe and responsible
                manner.
              </p>
            </strong>
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-2.png"
              alt="assets/images/holi/2023/pic-2.png"
            />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12">
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-3.png"
              alt="assets/images/holi/2023/pic-3.png"
            /><br />
            <strong
              ><br />
              <p>
                After the puja, employees gathered outside the office to play
                Holi with colors and water. Everyone were in high spirits, and
                the atmosphere was electric with the sound of music and
                laughter. Employees from different teams mingled with each other
                and enjoyed the festival together, forgetting about work and
                deadlines for a few hours.
              </p> </strong
            ><br />
          </div>
          <div class="col-md-6">
            <img
              class="border"
              src="assets/images/holi/2023/pic-6.png"
              width="100%"
              alt="assets/images/holi/2023/pic-6.png"
            />
          </div>
          <div class="col-md-6">
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-5.png"
              width="100%"
              alt="assets/images/holi/2023/pic-5.png"
            />
          </div>
          <div class="col-md-6">
            <hr />
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-4.png"
              style="height: 533px"
              width="100%"
              alt="assets/images/holi/2023/pic-4.png"
            />
          </div>
          <div class="col-md-6">
            <hr />
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-16.png"
              width="100%"
              alt="assets/images/holi/2023/pic-16.png"
            />
          </div>
          <div class="col-md-12">
            <br />
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-7.png"
              width="100%"
              alt="assets/images/holi/2023/pic-7.png"
            />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-8.png"
              width="100%"
              alt="assets/images/holi/2023/pic-8.png"
            />
          </div>
          <div class="col-md-6">
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-9.png"
              width="100%"
              alt="assets/images/holi/2023/pic-9.png"
            />
          </div>
          <div class="col-md-12">
            <br />
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-10.png"
              width="100%"
              alt="assets/images/holi/2023/pic-10.png"
            />
          </div>
          <div class="col-md-6">
            <br />
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-11.png"
              width="100%"
              alt="assets/images/holi/2023/pic-11.png"
            />
          </div>
          <div class="col-md-6">
            <br />
            <img
              class="border"
              src="assets/images/holi/2023/pic-12.png"
              width="100%"
              alt="assets/images/holi/2023/pic-12.png"
            />
          </div>
          <div class="col-md-6">
            <br />
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-13.png"
              width="100%"
              alt="assets/images/holi/2023/pic-13.png"
            />
          </div>
          <div class="col-md-6">
            <br />
            <img
              class="border"
              src="assets/images/holi/2023/pic-14.jpg"
              width="100%"
              alt="assets/images/holi/2023/pic-14.jpg"
            />
          </div>
          <div class="col-md-12">
            <br />
            <img
              class="holiimg border"
              src="assets/images/holi/2023/pic-15.png"
              width="100%"
              alt="assets/images/holi/2023/pic-15.png"
            />
          </div>
          <strong>
            <p>
              Overall, the Holi celebrations at Cylsys Software Solution Pvt.
              Ltd. was a huge success, and everyone had a great time. The
              festival brought the employees closer and helped build a strong
              sense of camaraderie and team spirit, which is essential for any
              organization's success.
            </p>
          </strong>
        </div>
        <p><strong>Thank you!</strong></p>
      </div>

      <!--end-->

      <!-- END GRID -->

      <!--start-->
    
    </div>
    <!--end-->
</div>
