<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">
<div class="container-fluid p-0">
    <img
      src="assets/images/digi.jpg "
      alt="Digital Marketing "
      class="innerbanner wow slideInDown"
    />
  </div>
  <!--end-->
  <!--start-->
  <div class="container body-content inner wow slideInUp innertop">
    <h2>
      <span class="border-bottom border-success">Digital Marketing</span>
    </h2>
    <h3>
      Wonderful results start with wonderful strategies. We’ve worked with
      the top organizations in the world. Many of them used us specifically
      for strategy!
    </h3>
  </div>
  <section class="section">
    <div class="container body-content inner wow slideInUp">
      <div class="row pb-5">
        <div class="col-md-6 pt-4">
          <div class="b-shadow p-3 h-100">
            <img
              src="assets/images/d1-dm-strategist.png "
              alt="DDigital Marketing "
              class="pull-left pr-3 pt-3"
            />
            <h3>DIGITAL MARKETING STRATEGIST</h3>
            <p>
              CYLSYS pens down stories for brands to build a trust with
              customers. Our Digital Marketing Services bring up your
              business presence on every possible online channel. Cylsys
              experts are certified marketers and they comprehend the
              customer’s journey from awareness to consideration and
              purchase. From organic to Paid marketing campaigns we do
              everything to boost up the value of a brand.
            </p>
            <ul>
              <li>BRAND DEVELOPMENT</li>
              <li>GREATER EXPOSURE</li>
              <li>USER ENGAGEMENT</li>
              <li>ORGANIC & PAID PROMOTIONS</li>
              <li>INCREASED SALES</li>
              <li>INCREASED SALES</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 pt-4">
          <div class="b-shadow h-100 p-3">
            <img
              src="assets/images/d2-talented-ga.png "
              alt="Digital Marketing "
              class="pull-left pr-3 pt-3"
            />
            <h3>TALENTED GRAPHIC ARTISTS</h3>
            <p>
              Great looking things are a must! From web pages to email
              blasts to social media posts, everything must look great!
            </p>
          </div>
        </div>
        <div class="col-md-6 pt-4 pr-3 h-75">
          <div class="b-shadow h-100 p-3">
            <img
              src="assets/images/d3-social-me.png "
              alt="Digital Marketing "
              class="pull-left pr-3 pt-3"
            />
            <h3>SOCIAL MEDIA EXPERTS</h3>
            <p>
              Growing your social footprint and creating engaged followers
              is an art and a science. You need a talented team leading the
              charge.
            </p>
          </div>
        </div>
        <div class="col-md-6 pt-4 pl-3">
          <div class="b-shadow h-100 p-3">
            <img
              src="assets/images/d4-skilled-cw.png "
              alt="Digital Marketing "
              class="pull-left pr-3 pt-3"
            />
            <h3>SKILLED CONTENT WRITERS</h3>
            <p>
              Great content is the engine that makes everything run. Your
              website, sales material, email blasts, social media posts,
              etc. – all need great content writing.
            </p>
          </div>
        </div>
        <div class="col-md-6 pt-4 pr-3">
          <div class="b-shadow h-100 p-3">
            <img
              src="assets/images/d5-seo.png "
              alt="Digital Marketing "
              class="pull-left pr-3 pt-3"
            />
            <h3>SEO EXPERTS</h3>
            <p>
              Ranking at the top of GOOGLE requires skill and persistence.
            </p>
          </div>
        </div>
        <div class="col-md-6 pt-4 pl-3">
          <div class="b-shadow h-100 p-3">
            <img
              src="assets/images/d6-performance.png "
              alt="Digital Marketing "
              class="pull-left pr-3 pt-3"
            />
            <h3>HIRE DIGITAL MARKETING EXPERT</h3>
            <p>
              You name it, we have it! Need expert advice for your existing
              digital marketing process, we provide Expert Consultants.
              Experts know it all, they help in improving the lead quality
              and hit the right customer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
    </div>
</div>