<div ng-app="myApp" ng-controller="Enquiry">
    <div id="fullpage">

        <div class="container-fluid p-0">
            <img src="assets/images/about.jpg" alt="About Us" class="innerbanner wow slideInDown" />
          </div>
      
          <!--end-->
      
          <!--start-->
          <div class="container body-content inner wow slideInUp innertop">
            <h2><span class="border-bottom border-success">About Us</span></h2>
            <h3>
              Cylsys Software was founded in the year 2010 and has been scaling new
              heights in the various verticals of Information Technology
            </h3>
          </div>
          <hr />
          <div class="container body-content inner wow slideInUp">
            <p>
              Newly Be it Software Development, Applications Development, IT
              Staffing, Digital Marketing or the newly launched Unicorn Ops, Cylsys
              Software leverages its expertise in Information Technology to deliver
              path breaking Solutions which enable a Business in any industry to
              embrace its potential and deliver spectacular results.
            </p>
            <p>
              We Partner Businesses to achieve their Business goals through our
              various Software Solutions.
            </p>
          </div>
          <div class="container-fluid p-0 wow slideInUp">
            <section id="timeline">
              <h1>The Milestones over 14 Years plus</h1>
              <p class="leader">
                Cylsys Software provides 360 degree solutions in the IT domain.
              </p>
              <div class="demo-card-wrapper">
                <div class="demo-card demo-card--step1">
                  <div class="head">
                    <div class="number-box"><span>2010</span></div>
                    <h2><span class="small">Cylsys</span> Company Formed</h2>
                  </div>
                  <div class="body">
                    <p>
                      The search for Clients starts. Got our 1st major client from
                      the BFSI domain with a challenging Software development <br />
                      project
                    </p>
                    <img src="assets/images/about1.jpg" alt="Company Formed" />
                  </div>
                </div>
                <div class="demo-card demo-card--step2">
                  <div class="head">
                    <div class="number-box"><span>2010-2015</span></div>
                    <h2><span class="small">Consolidation</span> period</h2>
                  </div>
                  <div class="body">
                    <p>
                      Created a strong portfolio of satisfied clients. Increased
                      team strength in Mumbai. Cylsys Software is now a brand which
                      is synonyms with Credibility, Tech Know-how and Success
                      delivered
                    </p>
                    <img src="assets/images/about2.jpg" alt="Consolidation" />
                  </div>
                </div>
                <div class="demo-card demo-card--step3">
                  <div class="head">
                    <div class="number-box"><span>2016</span></div>
                    <h2><span class="small">IT Staffing</span> vertical created</h2>
                  </div>
                  <div class="body">
                    <p>
                      As Cylsys had a huge pool of developer resources, it was
                      natural to leverage this with the demand in the market for
                      exceptional IT talent across the country.
                    </p>
                    <img src="assets/images/about3.jpg" alt="IT Staffing" />
                  </div>
                </div>
                <div class="demo-card demo-card--step4">
                  <div class="head">
                    <div class="number-box"><span>2018</span></div>
                    <h2>
                      <span class="small">Digital Marketing</span> vertical set up
                    </h2>
                  </div>
                  <div class="body">
                    <p>
                      One more office set up in Madhya Pradesh which would be our
                      Operations hub.<br />
                      <br />
                    </p>
                    <img src="assets/images/about4.jpg" alt="Digital Marketing" />
                  </div>
                </div>
                <div class="demo-card demo-card--step5">
                  <div class="head">
                    <div class="number-box"><span>2019</span></div>
                    <h2><span class="small">International </span> Operations</h2>
                  </div>
                  <div class="body">
                    <p>
                      International Operations started in Dubai & Singapore to
                      service clients in these locations for their IT requirements
                      Digital Marketing
                    </p>
                    <img src="assets/images/about5.jpg" alt="International Operations" />
                  </div>
                </div>
                <div class="demo-card demo-card--step6">
                  <div class="head">
                    <div class="number-box"><span>2020</span></div>
                    <h2><span class="small">Unicorn </span> Ops Business</h2>
                  </div>
                  <div class="body">
                    <p>
                      Unicorn Ops Business vertical is launched to offer all Non
                      –Tech services like BPO, Data entry, HR to clients looking to
                      outsource their critical functions at economical commercials
                    </p>
                    <img src="assets/images/about6.jpg" alt="Unicorn Ops Business" />
                  </div>
                </div>
              </div>
            </section>
            <div class="our-experience mt-4">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-md-6 col-sm-6 border-right">
                    <div class="highlight-text wow flipInX">
                      <h3 class="text-animation">14+</h3>
                      <p class="text-simple">Years of Experience</p>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-7 p-0">
                    <div class="calculation about">
                      <div class="d-flex justify-content-center wow flipInX">
                        <div class="projects">
                          <span>500+</span>
                          <p>Projects</p>
                        </div>
                        <div class="developement">
                          <span>1000+</span>
                          <p>App Development</p>
                        </div>
                        <div class="projects">
                          <span>20+</span>
                          <p>Industries</p>
                        </div>
                        <div class="developement">
                          <span>80+</span>
                          <p>Proffesionals</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="abc" id="section06"></div>
            </div>
            <hr />
            <div class="container body-content inner wow slideInUp">
              <h2 class="pt-0">How did we achieve it?</h2>
              <p>
                Full credit goes to the wonderful Team at Cylsys who create magic
                through their hard work and dedication. Every single day. We
                wouldn’t want to call them employees. Team member is apt. The
                average vintage of our Team members is around 4 Years. That’s a
                testament to the joy and satisfaction they experience while being a
                Team member.
              </p>
              <h2 class="pt-0">Join US</h2>
              <p>
                Explore our Team page to experience the wonderful life and
                Opportunities at Cylsys Software.
              </p>
              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
    </div>
</div>
