

<div ng-app="myApp" ng-controller="Enquiry">
   
    <!--start-->
    <div id="fullpage">
  
      <div class="container-fluid p-0">
        <img
          src="assets/images/women's day.png"
          alt="assets/images/women's day.png"
          class="innerbanner wow slideInDown"
        />
      </div>

      <!--start-->
      <div class="container body-content inner wow slideInUp">
        <div class="row">
          <div class="col-md-12">
            <strong>
              <h2 class="underlinee">Women’s Day Celebration_2023</h2>
            </strong>
            <p>
              Cylsys Software Solution Pvt. Ltd. celebrated International
              Women's Day with great enthusiasm and passion. The theme of the
              event was
              <strong>
                “DigitALL: Innovation and Technology for Gender
                Equality”</strong
              >. “Innovation and technological change, and education in the
              digital age for achieving gender equality and the empowerment of
              all women and girls”.
            </p>
            <img
              class="holiimg border"
              src="assets/images/woman's/pic-1.png"
              alt="assets/images/woman's/pic-1.png"
            /><br />
            <strong>
              <br />
              <p>
                The event was well-attended by employees from different
                departments. The venue was decorated with colorful balloons, and
                there was a beautiful flower arrangement that created a cheerful
                atmosphere..
              </p>
            </strong>
            <p>
              The perspective of women’s day celebration is women's empowerment
              which included :
            </p>
            <ul>
              <li>Overcoming gender bias and stereotypes in the workplace</li>
              <li>
                The importance of mentoring and supporting female colleagues
              </li>
              <li>
                The benefits of work-life balance and flexible work arrangements
              </li>
              <li>
                The need for equal pay and opportunities for women in leadership
                positions
              </li>
            </ul>
            <img
              class="holiimg border"
              src="assets/images/woman's/pic-2.png"
              alt="assets/images/woman's/pic-2.png"
            />
          </div>
        </div>
        <hr />
        
          <h3 class="text-center"><strong> Women are the Pride of Cylsys</strong></h3>
       
        <div class="row">
          <div class="col-md-12">
            <img
              class="holiimg border"
              src="assets/images/woman's/pic-3.png"
              alt="assets/images/woman's/pic-3.png"
            /><br />
            <strong
              ><br />
              <p>
                The event also included a fun activity where the participants
                played games and won prizes. There was also a photo Wall where
                employees could take pictures with their colleagues and friends.
              </p> </strong
            ><br />
          </div>
          <strong>
            <p>Fun Activities:-</p>
          </strong>
          <p>
            Welcome! If you're looking for fun activities that were done on
            Women's Day, you've come to the right place. Some popular activities
            that are commonly done on Women's Day include attending events, Cat
            walk , or Feel & Taste, organizations, participating in women's
            empowerment workshops or discussions, or simply spending time with
            the special women in your life. So let's celebrate the amazing women
            in our lives and make every day Women's Day!!
          </p>
          <div class="col-md-6">
            <img
              class="holiimg border"
              src="assets/images/woman's/pic-4.png"
              style="height: 477px; width: 636px"
              alt="assets/assets/images/woman's/pic-4.png"
            />
          </div>

          <div class="col-md-6">
            <img
              class="holiimg border"
              src="assets/images/woman's/pic-5.png"
              style="height: 477px; width: 636px"
              alt="assets/images/woman's/pic-5.png"
            />
          </div>
          <div class="col-md-12">
            <br />
            <img
              class="holiimg border"
              src="assets/images/woman's/pic-6.png"
              alt="assets/images/woman's/pic-6.png"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br />
            <img
              class="holiimg border"
              src="assets/images/woman's/pic-7.png"
              alt="assets/images/woman's/pic-7.png"
            />
          </div>
          <div class="col-md-12">
            <strong>
              <br />
              <p>
                In conclusion, the event was a huge success, and the female
                employees of Cylsys Software Solution Pvt. Ltd. appreciated the
                efforts made by the company to recognize their contributions.
                The celebration was a reminder of the importance of gender
                diversity and inclusivity in the workplace and encouraged women
                to continue to pursue their goals and aspirations. The Women's
                Celebrations at Cylsys Software Solution Pvt. Ltd. on March 4,
                2023 provided an excellent opportunity for female employees to
                network, share ideas, and celebrate their achievements. We hope
                to organize similar events in the future to continue promoting
                gender equality and empowering women in the workplace.
              </p>
            </strong>
          </div>

          <div class="col-md-12">
           
              <h3 class="text-center"><strong>Team Cylsys</strong></h3>
            
            <img
              class="holiimg border"
              src="assets/images/woman's/pic-8.png"
              alt="assets/images/woman's/pic-8.png"
            />
           
              <br />
              <p class="text-center"><strong>Thank you!</strong></p>
           
          </div>
        </div>
      </div>

      <!--end-->

      <!--start-->
     
    </div>
  

</div>
