

<div ng-app="myApp" ng-controller="Enquiry">
   
    <div id="fullpage">
 
      <div class="container-fluid p-0">
        <img
          src="assets/images/press.jpg"
          alt="Press"
          class="innerbanner wow slideInDown"
        />
      </div>

      <!--end-->
      
      <!--start-->
      <div class="container body-content inner wow slideInUp innertop">
        <h2><span class="border-bottom border-success">In The Press</span></h2>
      </div>
      <hr />
      <div class="container body-content inner wow slideInUp inpressp">
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/Pawas770.png"
              width="100%"
              alt="The Most Innovative Companies"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://timeiconic.com/pawas-goyal-helping-businesses-grow-by-providing-360-degree-software-solutions/"
                target="_blank"
                class="text-dark"
                >Pawas Goyal: Helping Businesses Grow by Providing 360 Degree
                Software Solutions</a
              >
            </h2>
            <!-- <p class="small">Published on November 21, 2023</p> -->
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/theEconimicTimes.png"
              width="100%"
              alt="The Most Innovative Companies"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://economictimes.indiatimes.com/company/cylsys-software-solution-private-limited/U72200MP2010PTC024953"
                target="_blank"
                class="text-dark"
                >CYLSYS SOFTWARE SOLUTION PRIVATE LIMITED</a
              >
            </h2>
            <!-- <p class="small">Published on November 21, 2023</p> -->
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/bsm.png"
              width="100%"
              alt="The Most Innovative Companies"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://businesssightmedia.com/2021/07/pawas-goyal-cylsys-software-solution-pvt-ltd-business-sights-companies-in-focus-2021/"
                target="_blank"
                class="text-dark"
                >Pawas Goyal (Cylsys Software Solution Pvt. Ltd) – Business
                Sight’s Companies in Focus 2021</a
              >
            </h2>
            <p class="small">Published on July 21, 2021</p>
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/startUp.png"
              width="100%"
              alt="The Most Innovative Companies"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://www.startupsuccessstories.in/this-mumbai-based-startup-pledges-to-change-the-face-of-services-in-financial-solutions-industry-with-its-digital-concept/"
                target="_blank"
                class="text-dark"
                >This Mumbai based startup pledges to change the face of
                services in Financial Solutions Industry with its Digital
                concept</a
              >
            </h2>
            <p class="small">Published on January 22, 2019</p>
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/Mr.-Pawas-Goyal-cylsys-software-solution-pvt-ltd.jpg"
              width="100%"
              alt="The Most Innovative Companies"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://theleadersglobe.com/magazine/cylsys-the-ingenious-it-solutions-provider-modifying-the-business-landscape/"
                target="_blank"
                class="text-dark"
                >Cylsys: The Ingenious IT Solutions Provider Modifying the
                Business Landscape</a
              >
            </h2>
            <!-- <p class="small">Published on November 21, 2023</p> -->
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/thebusinesssightmedia.jpg"
              width="100%"
              alt="The Most Innovative Companies"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://businesssightmedia.com/2021/07/pawas-goyal-cylsys-software-solution-pvt-ltd-business-sights-companies-in-focus-2021/"
                target="_blank"
                class="text-dark"
                >Cylsys Software Solution Pvt.ltd. Business Sight's Companies in
                Focus 2021</a
              >
            </h2>
            <p class="small">Published on July 21, 2021</p>
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/thebusiness-fame.jpg"
              width="100%"
              alt="The Most Innovative Companies"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://thebusinessfame.com/cylsys-software-solution-pvt-ltd-revolutionizing-work-places/"
                target="_blank"
                class="text-dark"
                >CYLSYS SOFTWARE SOLUTION PVT. LTD in The Most Innovative
                Companies To Watch in 2021</a
              >
            </h2>
            <p class="small">Published on April 26, 2021</p>
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/businessconnectindia.jpg"
              width="100%"
              alt="Business Connect India"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://businessconnectindia.in/cylsys-software-solutions/"
                target="_blank"
                class="text-dark"
                >Cylsys Software Solutions: Stunning It Solutions For All Types
                Of Business</a
              >
            </h2>
            <p class="small">Published on December 31, 2020</p>
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img src="assets/images/issuu.jpg" width="100%" alt="Issuu" />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://issuu.com/theenterpriseworld/docs/vol_1-the_10_transformational_business_leaders_to_"
                target="_blank"
                class="text-dark"
                >The 10 Transformational Business Leaders to Look Out 2020- Vol.
                1-The Enterprise World</a
              >
            </h2>
            <p class="small">Published on Nov 12, 2020</p>
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img src="assets/images/ceoinsights.jpg" width="100%" alt="CEO Insights" />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://primeinsights.in/cylsys-software-solution/"
                target="_blank"
                class="text-dark"
                >Cylsys Software Solution Pvt Ltd: An Impactful IT Brand That’s
                Redefining the Status Quo in the Industry</a
              >
            </h2>
            <p class="small">Published on Nov 24, 2020</p>
          </div>
        </div>
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/theenterpriseworld.jpg"
              width="100%"
              alt="The Enterprise World"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://www.theenterpriseworld.com/pawas-goyal-a-leader-adding-fuel-to-the-digital-revolution/"
                target="_blank"
                class="text-dark"
                >Pawas Goyal – A Leader Adding Fuel to the Digital
                Revolution!</a
              >
            </h2>
            <p class="small">Published on Nov 25, 2020</p>
          </div>
        </div>
        <!-- <div class="row pb-2 pt-2 mb-2 border">
                <div class="col-md-6 col-6"><img src="assets/images/theceostory.jpg" width="100%" alt="The CEO Story"></div>
                <div class="col-md-6 col-6">
                    <h2 class="inpress pt-0"> <a
                            href="https://theceostory.in/company-of-the-year-2020/cylsys-software-solution-pvt-ltd/"
                            target="_blank" class="text-dark">Cylsys Software Solution Pvt. Ltd. Fighting COVID By
                            Building Effective IT Solutions</a></h2>
                    <p class="small">Published on Oct 20, 2020</p>
                </div>
            </div> -->
        <div class="row pb-2 pt-2 mb-2 border">
          <div class="col-md-6 col-6">
            <img
              src="assets/images/theceomagazine.jpg"
              width="100%"
              alt="The Ceo Magazine"
            />
          </div>
          <div class="col-md-6 col-6">
            <h2 class="inpress pt-0">
              <a
                href="https://www.theceo.in/startups/myfundbucket-an-emerging-leader-who-has-pledged-to-change-the-face-of-services-in-financial-solutions-industry-with-its-digital-concept"
                target="_blank"
                class="text-dark"
              >
                Pawas Goyal, Chief Executive Officer, MyFundBucket
              </a>
            </h2>
            <p class="small">Published on June, 2017</p>
          </div>
        </div>
        <br />
        <br />
        <br />
      </div>

      <!--end-->
      <hr />
   
    </div>
   

  
</div>
