<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">

        <div class="container-fluid p-0">
            <img
              src="assets/images//amc.jpg"
              alt="AMC"
              class="innerbanner wow slideInDown"
            />
          </div>
          <!--end-->
          <!--start-->
          <div
            class="container body-content inner wow slideInUp innertop font-weight-light"
          >
            <h2>
              <span class="border-bottom border-success"
                >Glimpse of our Work in AMC</span
              >
            </h2>
          </div>
    
          <div class="container body-content inner wow slideInUp">
            <div class="row">
              <div class="col-md-12">
                <p>
                  Cylsys is a software development company which has over the past
                  decade created some amazing products and platforms which are
                  focused on innovation-led business growth for our clients. Our
                  offerings leverage the latest technologies in cloud computing,
                  mobility, big data, reach media and social connectivity to provide
                  guaranteed business outcomes.
                </p>
                <p>
                  We have created some cutting edge applications for some of our
                  clients in the AMC industry which help them take care of some of
                  their critical functions. As your company is one of the Top AMC
                  companies, We are sure our applications would be of most
                  importance to you.
                </p>
              </div>
              <div class="bg-light col-md-9">
                <div class="pt-5 pb-5">
                  <p><strong>Polling App:</strong></p>
                  <p>
                    As mandated by SEBI all AMCs have to do the valuation of bonds
                    on a daily basis. The process followed is the AMC receives a
                    mail from either CRISIL or ICRA on a daily basis at 4.30 p.m.
                    and this mail needs to be replied by the Fund Managers of AMCs
                    after entering the necessary data in the attached Excel sheet on
                    the same day, latest by 5.15 p.m. All this data needs to be
                    stored and preserved for approximately 8 years. This entire
                    process was being done manually which was very cumbersome and
                    time consuming. So to enhance the process and optimize the
                    resources it was decided to automate this entire process and
                    store the required data in a database by developing an
                    application for the same.
                  </p>
                  <p>
                    <a
                      href="https://www.cylsys.com/case-study/Case%20Study_Data%20Polling%20Application.pdf"
                      target="_blank"
                      class="btn btn-primary case-btn"
                      >Download Case Study</a
                    >
                  </p>
                </div>
              </div>
              <div class="bg-light col-md-3">
                <div class="pt-5 pb-5">
                  <img src="assets/images//AMC1.jpg" width="100%" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-5">
                  <img src="assets/images//dts1.jpg" width="100%" />
                </div>
              </div>
              <div class="col-md-9">
                <div class="mt-5 mb-5">
                  <p><strong>Digital Transaction System:</strong></p>
                  <p>
                    is a utility that handles all the transaction processing
                    occurring in mutual fund companies .DTS works on daily basis and
                    handles all the transaction related data. DTS ensures that every
                    transaction is taken of care and logged into the system. It
                    involves Email and Fax Transaction, Bank Statement Download and
                    Credit Confirmation, Master/Mapping setups. It's a one-stop
                    solution for whole Transaction processing.
                  </p>
                  <p class="">
                    <a
                      href="https://www.cylsys.com/case-study/Case-Study-for-Digital-Transaction-System.pdf"
                      target="_blank"
                      class="btn btn-primary m-3"
                      >Download Case Study</a
                    >
    
                    <a
                      href="https://www.cylsys.com/PDF_Document/DTS%20Module%20presentation.pdf"
                      target="_blank"
                      class="btn btn-primary"
                      >Download App Presentation</a
                    >
                  </p>
                </div>
              </div>
              <div class="bg-light col-md-9">
                <div class="pt-5 pb-5">
                  <p><strong>Real Time Transaction Credit Confirmation:</strong></p>
                  <p>
                    This utility helps AMCs to reconcile credit confirmations on
                    real time basis from banks, this utility runs at a specific
                    interval and checks for any new transactions received. As soon
                    as the transaction is received the utility initiates the credit
                    confirmation process.
                  </p>
                  <p>
                    <a
                      href="https://www.cylsys.com/case-study/Case%20Study_Data%20Polling%20Application.pdf"
                      target="_blank"
                      class="btn btn-primary case-btn"
                      >Download Case Study</a
                    >
                  </p>
                </div>
              </div>
              <div class="bg-light col-md-3">
                <div class="mt-5">
                  <img src="assets/images//AMC3.jpg" class="float-lg-right" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mt-5">
                  <p><strong>Redemption Automation:</strong> <br /></p>
                  <p>
                    fully automate the entire process of creating upload files
                    (using CAMS file as input), uploading those files on banks
                    website and reconciliation of payment status between CAMS file,
                    Bank Reverse Feed and Bank Statement.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mt-5">
                  <p><strong>CIOS:</strong><br /></p>
                  <p>
                    In order to maintain the log of inward and outward mails,
                    parcels, search records, generate MIS reports. This module also
                    helps to print labels and export the existing data. The
                    distributed process of mail management becomes centralized.
                  </p>
                </div>
              </div>
    
              <div class="bg-light col-md-6">
                <div class="mt-5">
                  <p><strong>Debt Requisition:</strong></p>
                  <p>
                    There are two teams in AMCs one is Fund Manager and other is
                    Dealer. FM assigns the deal to Dealers then Dealers perform the
                    operations on assigned deals. This process is automated and
                    streamline through an application name called Debt Requisition
                    (Order Management) System. In this system different roles for
                    users so FM, Dealers and compliance can use the system according
                    to their daily operations.
                  </p>
                </div>
              </div>
              <div class="bg-light col-md-6">
                <div class="mt-5">
                  <p><strong>Broker Grading System:</strong></p>
                  <p>
                    This is a desktop application developed for all the departments
                    who participate in Broker/Firm grading, and gives their votes to
                    each and every Broker/Firms. Once all the votes are received
                    from the Fund Managers, Research Analysts etc, the application,
                    calculates the Rank of the firms based on votes received. All
                    the Reports are generated by the system. Once the reports are
                    verified, the system sends the reports to the Brokers/Firms for
                    their ranking.
                  </p>
                </div>
              </div>
    
              <div class="col-md-6">
                <div class="mt-5">
                  <p><strong>Financial DB:</strong><br /></p>
                  <p>
                    This application is used to manage storage and retrieval of
                    analyst company data created in-house. Company Financials and
                    ratings retrieval very cumbersome and time-consuming.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mt-5">
                  <p><strong>Upload/Download utilities Automation:</strong></p>
                  <p>
                    Every department wants to automate their files. File comes from
                    different sources(FTP/SFTP/website/Mail/Local folders) and then
                    user does some changes/calculation/operations and then
                    share/upload. We have created a system to automate the entire
                    process. User need to define source, destination, file types and
                    operations and that process will be automated.
                  </p>
                </div>
              </div>
              <div class="bg-light col-md-9">
                <div class="pt-5 pb-5">
                  <p><strong>Medical Reimbursement and CHC Systems:</strong></p>
                  <p>
                    One of the leading Mutual fund Investment companies in India. It
                    is the seventh-largest Asset management company in India. The
                    AMC was looking for an IT partner to implement their Medical
                    Reimbursement and Comprehensive Health Check up system for their
                    employees (Approximately 1400) using the latest technology with
                    existing cloud Infrastructure. They were using a mix of manual
                    and system driven technology to process these functions which
                    was time-consuming and prone to errors. Cylsys Software created
                    a robust and Easy to use system which made the entire process
                    digital and thereby saving time and aiding the team to execute
                    the entire process accurately and seamlessly. The new system
                    made sure that Employees were able to register their Medical
                    claims or requests for a Comprehensive Health check up with
                    utmost ease. The new system also made a huge positive difference
                    to the Medical Administrators at client AMC in executing
                    processes like checking the claims, giving sanctions, releasing
                    the sanctioned amount payments into Employee’s salary accounts
                    in record turnaround time. It was a win-win situation for all
                    the parties involved.
                  </p>
                </div>
              </div>
              <div class="bg-light col-md-3">
                <div class="mt-5">
                  <img src="assets/images//AMC2.jpg" width="100%" />
                </div>
              </div>
              <div class="col-md-12">
                <p class="pt-5">
                  <strong>Key Employee Compensation scheme</strong>
                </p>
                <p>
                  As you must be aware , SEBI has issued a circular on April 28th
                  20121 on Alignment of interest of Key Employees of Asset
                  Management Companies (AMCs) with the Unit holders of the Mutual
                  Fund Schemes, in terms of which a part of compensation of the Key
                  Employees of the AMCs shall be paid in the form of units of the
                  scheme(s), in proportion of AUM of mutual funds schemes for which
                  they have role/oversight.
                </p>
    
                <p>
                  According to SEBI mandate, 20 % of the Key Employees salary has to
                  be paid in form of units of the scheme, in proportion of AUM of
                  mutual funds schemes for which they have role/oversight.
                </p>
    
                <p>
                  Our Application computes the percentage, that will be paid in form
                  of units of the scheme. The application will calculate the amount
                  that has to be invested in each scheme. And accordingly the HR
                  team will distribute the salary in different Schemes.
                </p>
              </div>
              <div class="bg-light col-md-9">
                <div class="pt-5 pb-5">
                  <p><strong>Tour Management System:</strong></p>
                  <p>
                    This application streamlines the entire Travel and Ticket
                    booking process for Employees of an Organization who travel for
                    official tours. This system automates various tasks and
                    processes and simplifies Tour planning, Tour approvals.
                    scheduling and co-ordination resulting in better services
                    delivered and improving overall productivity. Some of the
                    modules in this Application are - Tour Requests from Employee's/
                    Tour approvals by the designated supervisor, Tour Advance
                    processing/ Tour Rescheduling and Cancellation / Travel Desk
                    Operations/ Tour Bill claims and processing by Accounts and much
                    more.
                  </p>
                </div>
              </div>
              <div class="bg-light col-md-3">
                <div class="">
                  <img src="assets/images//tms.png" class="w-50" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-5">
                  <img src="assets/images//itFixed.png" class="float-lg-right w-100" />
                </div>
              </div>
              <div class="col-md-9">
                <p class="pt-5">
                  <strong>IT & Fixed Assets Management System</strong>
                </p>
                <p>
                  Every Organization has an IT Department which procures IT assets (
                  eg .Laptops. Desktops, I Pads etc) and assigns it to Employees at
                  various locations/branches for use. These IT Assets are then
                  tracked , audited annually, disposed of (after a particular time
                  period), taking care of Warranties/AMC's of those IT Assets etc.
                  This Application covers all these functionalities and more and
                  ensuring that the life cycle of any IT Asset right from
                  procurement/assignment/audit disposal is captured in the system
                  and generates various Reports to help the IT Department to keep
                  track of these IT assets.
                </p>
    
                <p>
                  Similarly. the Fixed assets module covers the Fixed assets (
                  Office furniture - Tables, chairs, sofas etc and Office Equipment
                  - printers, projectors, fax machines) ( Equipment used commonly at
                  various office locations /branches). This module take scare of the
                  procurement/ assigning and annual audit of these Fixed assets
                </p>
              </div>
    
              <div class="bg-light col-md-9">
                <div class="pt-5 pb-5">
                  <p><strong>Mapping Automation Project:</strong></p>
                  <p>
                    This Project revolves around the functionality of Mapping. In
                    certain scenarios like Employee movement like Transfer,
                    Appointment/ Resignation there is an impact on the Business
                    relationships which those Employees are handling for that
                    location /Branch. This Employee movement compels the smooth
                    transfer of Business relationships or Mapping in the system from
                    the Old employee to the new Employee at that location /Branch.
                    This Application automates the entire Mapping process which was
                    manual with its own share of manual interventions and
                    rectification of errors , standardizes all the Masters and its
                    maintenance and streamlines the entire process for all the
                    stakeholders in the process.
                  </p>
                </div>
              </div>
              <div class="bg-light col-md-3">
                <div class="mt-5">
                  <img src="assets/images//map.png" class="float-lg-right w-100" />
                </div>
              </div>
            </div>
          </div>
    </div>
</div>