

<div ng-app="myApp" ng-controller="Enquiry">
    
  <!--start-->
  <div id="fullpage">
    
    <div class="container-fluid p-0">
      <img
        src="assets/images/Republic day.png"
        alt="assets/images/Republic day.png"
        class="innerbanner wow slideInDown"
      />
    </div>

    <!--start-->
    <div class="container body-content inner wow slideInUp">
      <div class="row">
        <div class="col-md-12">
          <strong>
            <h2 class="underlinee">Republic Day Celebration_2023</h2>
          </strong>
          <p>
            Cylsys Software Solution Pvt. Ltd., celebrated Republic Day on
            26th January 2023 as
            <strong>
              Jan Bhagidari - "participation of the common people”</strong
            >
            With a lot of enthusiasm and pride.
          </p>
          <img
            class="holiimg border"
            src="assets/images/republic day/pic-3.png"
            alt="assets/images/republic day/pic-3.png"
          /><br />
          <br />
          <p>
            Republic Day is celebrated every year in India on 26th January to
            commemorate the day when the Indian Constitution came into effect.
            The day is celebrated with great enthusiasm and pride, with people
            paying homage to the country's rich cultural heritage and the
            sacrifices made by freedom fighters.
          </p>
          <br />
          <p>
            The new constitution of free India came into force with effect
            from this day. It is a day of national rejoicing and a red-letter
            day in our country. The day is celebrated with pomp and show, zeal
            and spirit, throughout the length and breadth of the country.
          </p>
          <br />
          <p>
            The day was celebrated in our organization with great fervour. The
            office premises was tastefully decorated with flowerpots and
            national flags. We were beside ourselves with joy. Loudspeakers
            were fitted at strategic locations for excellent sound effect.
            Everyone were feeling very patriotic and happy because it was a
            matter of great pride for all of us. After all, on this day the
            constitution of India came into force and our country became a
            republic.
          </p>
          <br />
          <p>
            The celebration started with the traditional hoisting of the
            National flag, followed by the national anthem. The Guest of Honor
            for the flag-hoisting ceremony was Mr. Chandra Prakash Agrawal.
          </p>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-md-6">
          <img
            class="holiimg border"
            src="assets/images/republic day/pic-1.png"
            style="height: 600px; width: 600px"
            alt="assets/images/republic day/pic-1.png"
          /><br />
        </div>
        <div class="col-md-6">
          <img
            class="holiimg border"
            src="assets/images/republic day/pic-2.png"
            style="height: 600px; width: 600px"
            alt="assets/images/republic day/pic-2.png"
          />
        </div>
        <div class="col-md-12">
          <br />
          <p>
            The Republic Day celebrations at Cylsys Software Solution Pvt.
            Ltd. began at 8:00 am with employees dressed in traditional attire
            arriving at the venue. The office premises were decorated with the
            national flag and tri-color flowers, which added to the patriotic
            spirit.
          </p>
        </div>
        <br />

        <div class="col-md-6">
          <img
            class="holiimg border"
            src="assets/images/republic day/pic-5.png"
            style="height: 450px; width: 600px"
            alt="assets/images/republic day/pic-5.png"
          />
        </div>
        <div class="col-md-6">
          <img
            class="holiimg border"
            src="assets/images/republic day/pic-6.png"
            style="height: 450px; width: 600px"
            alt="assets/images/republic day/pic-6.png"
          />
        </div>

        <div class="col-md-12">
          <br />
         
            <strong>
              <h3 class="underlinee text-center">Saraswati Pooja</h3>
            </strong>
         
          <br />
          <img
            class="holiimg border"
            src="assets/images/republic day/pic-7.png"
            alt="assets/images/republic day/pic-7.png"
          />
          <br />
          <p>
            The Republic Day celebration also included a photo session where
            employees could take pictures with their colleagues and friends.
            The event concluded at 12:00 pm with the employees exchanging
            greetings and wishing each other a Happy Republic Day. The
            management also distributed sweets and snacks to all the employees
            as a token of appreciation for their hard work and dedication.
          </p>
        </div>
        <div class="col-md-6">
          <img
            class="holiimg border"
            src="assets/images/republic day/pic-8.png"
            style="height: 600px; width: 600px"
            alt="assets/images/republic day/pic-8.png"
          />
        </div>
        <div class="col-md-6">
          <img
            class="holiimg border"
            src="assets/images/republic day/pic-9.png"
            style="height: 600px; width: 600px"
            alt="assets/images/republic day/pic-9.png"
          />
        </div>
      </div>
      <hr />
      <div class="col-md-12">
        <img
          class="holiimg border"
          src="assets/images/republic day/pic-10.png"
          alt="assets/images/republic day/pic-10.png"
        />
      </div>
    </div>

    <!--end-->

    <!-- END GRID -->

    <!--start-->

  </div>
  <!--end-->
 


</div>
