

<div ng-app="myApp" ng-controller="Enquiry">

    <div id="fullpage">
     

      <div class="container-fluid p-0">
        <img
          src="assets/images/life-in-cylsys.jpg"
          alt="Life in Cylsys"
          class="innerbanner wow slideInDown"
        />
      </div>
      <!--end-->
      <!--start-->
      <div class="container body-content inner wow slideInUp innertop">
        <h2><span class="border-bottom border-success">LIFE AT CYLSYS</span></h2>
        <h3>Heroes in these Difficult times</h3>
      </div>
      <hr />
      <div class="container body-content inner wow slideInUp">
        <p>
          When the going gets tough, the Tough get going. These are truly tough
          and difficult times. This COVID-19 pandemic has totally changed the
          way we live our lives. So was it any different at Cylsys Software ? In
          March when the entire country went into lockdown, we had to shut our
          operating offices. But did the Operations pause for a single day?
          That’s an emphatic NO. All thanks to our team members, the True Heroes
          of the day, who took up this pause as a challenge and came through
          with flying colors.
        </p>
        <p>
          Each member of the Cylsys family started working from home and ensured
          that each function and department worked on and delivered its daily
          set targets without fail. Zoom meetings replaced the physical ones and
          Homes got transformed into work stations. It took a little while to
          adjust to these changes. But in a few days it was business as usual.
        </p>
        <p>
          Special mention to our in pool of Developers. They continued working
          remotely on Client projects from the comfort of their homes and
          delivered results in time frames set by the clients. This pool of
          resources was a huge plus to the success of the Cylsys team during
          this pandemic.
        </p>
        <p>
          In July 2022 our center in M.P is operational with all the safety
          precautions in place and the permitted 30 percent attendance of the
          staff there. We have taken an informed decision to keep our Corporate
          office in Mumbai shut as the number of COVID-19 cases are still on the
          rise there and all means of transportation have not started as yet. So
          keeping the safety of the team members in mind, the members of our
          Mumbai office still continue doing a fantastic job by working from
          home.
        </p>
        <p>
          The Management is taking every possible step to ensure that each
          member is working safely with all precautions and at the same time
          achieving acceptable productivity in an efficient manner.
        </p>

        <a routerLink="/sports"
          ><img src="assets/images/chatbots/MicrosoftTeams-image (6) 1 (1).png" alt=""
        /></a>

        <p>
          “All work and no Play makes jack a Dull boy”. The HR Team at Cylsys
          Software takes this line very seriously. Therefore, it makes it a
          point to arrange various activities like TGIF (Thank God Its Friday) –
          Weekly activity on every weekend evening, Picnics, Lunches, Treks,
          Contests, Dress Code on different days and celebrating various
          Festivals with the entire Team with all the fervour and tradition.
        </p>
        <p>
          Would you like to be a part of this Fun Team ? Check out the
          Opportunities right Now. I want to be a Cylsys Team member
        </p>
      </div>

      <!--end-->
      <hr />
      <!--start-->
     
    </div>
    
   
</div>
