
<div class="container mt-1">
    <div class="row border-primary align-items-center">
      <a
        class="col-2"
        target="_blank"
        href="https://innovativezoneindia.com/pawas-goyal/"
      >
        <img
          src="../../../../assets/images/innovativeLogo.png"
          class="w-100 bg-dark"
          alt="Innovative"
        />
      </a>
      <a
        class="col-2"
        target="_blank"
        href="https://timeiconic.com/pawas-goyal-helping-businesses-grow-by-providing-360-degree-software-solutions/"
      >
        <img src="../../../../assets/images/press8.png" class="w-100 bg-dark" alt="TimeIconic" />
      </a>
      <a
        href="https://economictimes.indiatimes.com/company/cylsys-software-solution-private-limited/U72200MP2010PTC024953"
        class="col-2"
        target="_blank"
      >
        <img src="../../../../assets/images/et-logo.png" class="w-100" alt="et logo" />
      </a>
      <a
        href="https://businesssightmedia.com/2021/07/pawas-goyal-cylsys-software-solution-pvt-ltd-business-sights-companies-in-focus-2021/"
        class="col-2"
        target="_blank"
      >
        <img
          src="../../../../assets/images/Business-sight-Logo.png"
          class="w-100 bg-dark"
          alt="Business-sight-Logo"
        />
      </a>
      <a
        href="https://www.startupsuccessstories.in/this-mumbai-based-startup-pledges-to-change-the-face-of-services-in-financial-solutions-industry-with-its-digital-concept/"
        class="col-2"
        target="_blank"
      >
        <img
          src="../../../../assets/images/startup-success-stories.png"
          class="w-100"
          alt="startup-success-stories"
        />
      </a>
      <a
        href="https://theleadersglobe.com/magazine/cylsys-the-ingenious-it-solutions-provider-modifying-the-business-landscape/"
        class="col-2"
        target="_blank"
      >
        <img
          src="../../../../assets/images/press10.png"
          style="background-color: #0f1c50"
          class="w-100"
          alt="theleadersglobe"
        />
      </a>
    </div>
    <div class="row border-primary mt-4 align-items-center">
      <a
        href="https://issuu.com/theenterpriseworld/docs/vol_1-the_10_transformational_business_leaders_to_"
        class="col-2"
        target="_blank"
      >
        <img src="../../../../assets/images/press1.jpg" class="w-100" alt="Issuu" />
      </a>
      <a
        href="https://primeinsights.in/cylsys-software-solution/"
        target="_blank"
        class="col-2"
      >
        <img src="../../../../assets/images/press2.jpg" class="w-100" alt="The CEO Insights" />
      </a>
      <a
        href="https://www.theceo.in/startups/myfundbucket-an-emerging-leader-who-has-pledged-to-change-the-face-of-services-in-financial-solutions-industry-with-its-digital-concept"
        target="_blank"
        class="col-2"
      >
        <img src="../../../../assets/images/press3.jpg" class="w-100" alt="The CEO" />
      </a>
      <a
        href="https://www.theenterpriseworld.com/pawas-goyal-a-leader-adding-fuel-to-the-digital-revolution/"
        target="_blank"
        class="col-2"
      >
        <img src="../../../../assets/images/press4.jpg" class="w-100" alt="The Enterprise World" />
      </a>
      <a href="" target="_blank" class="col-2">
        <img src="../../../../assets/images/press5.jpg" class="w-100" alt="The CEO Story" />
      </a>
      <a
        href="https://thebusinessfame.com/cylsys-software-solution-pvt-ltd-revolutionizing-work-places/"
        target="_blank"
        class="col-2"
      >
        <img src="../../../../assets/images/press7.jpg" class="w-100" alt="The Business Fame" />
      </a>
    </div>
  </div>
  <!-- <div class="mt-5">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="section-title">
                      <div class="heading">
                          <h2>NEWSLETTER</h2>
                      </div>
                  </div>
              </div>
              <div class="col-md-8 wow fadeInUp newsletter">
                  <form class="pt-3" method="post">
                      <div class="form-row align-items-center">
                          <div class="col-lg-4">
                              <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Your name"
                                  name="Name" ng-model="enquiry.Name" required>
                          </div>
                          <div class="col-lg-5">
                              <div class="input-group mb-2">
                                  <input type="email" class="form-control email-radius" id="inlineFormInputGroup"
                                      placeholder="Enter Your Email" ng-model="enquiry.Email" name="Email" required>
                              </div>
                          </div>
                          <div class="col-lg-3">
                              <button class="btn btn-primary subscribe-button mb-2 w-100" type="submit"
                                  ng-click="newsletter(enquiry)">Subscribe</button>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="col-lg-4 col-md-6 mt-4">
                  <div class="quick-content-box quick-content-box1">
                      <div class="section-title">
                          <div class="heading">
                              <h2 class="pb-3">QUICK CONTACT</h2>
                          </div>
                      </div>
                      <div class="bg-quick-contact wow fadeInRight">
                          <form method="post">
                              <div class="">
                                  <input type="text" class="form-control mb-1" id="inlineFormInput" placeholder="Name"
                                      name="Name" ng-model="enquiry.Name" required>
                              </div>
                              <div class="">
                                  <div class="input-group mb-1">
                                      <input type="email" class="form-control text-ridus" id="inlineFormInputGroup"
                                          placeholder="Email" name="Email" ng-model="enquiry.Email" required>
                                  </div>
                              </div>
                              <div class="">
                                  <div class="input-group mb-1">
                                      <input type="Phone" class="form-control text-ridus" id="inlineFormInputGroup"
                                          placeholder="Phone" name="Phone" ng-model="enquiry.Phone" required>
                                  </div>
                              </div>
                              <div class="">
                                  <div class="input-group mb-1">
                                      <select class="form-control text-ridus" ng-model="enquiry.Service">
                                          <option>Services</option>
                                          <option>AI ML</option>
                                          <option>RPA TOOLS</option>
                                          <option>Digital Marketing</option>
                                          <option>UI/UX Design</option>
                                          <option>Software Development</option>
                                          <option>Mobile Development</option>
                                          <option>Data Analytics</option>
                                          <option>Hire Developer(Staffing)</option>
                                          <option>Other</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <textarea class="form-control" rows="3" id="comment" placeholder="Requirement Brief*"
                                      ng-model="enquiry.Requirment" name="Requirement"></textarea>
                              </div>
                              <div class="form-group">
                                  <div class="form-check">
                                      <label class="form-check-label" for="invalidCheck2"> Cylsys can contact me with
                                          given information. View our <a href="privacy-policy.html"
                                              target="_parent">Privacy Policy</a> &amp; <a href="terms-of-use.html"
                                              target="_parent">Terms of use</a> </label>
                                  </div>
                              </div>
                              <div class="submit-form">
                                  <button class="btn btn-primary" type="submit"
                                      ng-click="submit(enquiry,'QuickContact')">Submit</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <div class="footer" id="section07">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6 p-0">
          <div class="section-title">
            <div class="heading">
              <h2>CONTACT INFORMATION</h2>
            </div>
          </div>
  
          <div class="section-detail">
            <!-- <div class="company-contact-detail"> -->
            <div class="row">
              <div class="col-md-4">
                <div class="company-add">
                  <div class="company-add-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="company-add-detail">
                    <div class="company-add-title">
                      <h5>Corporate Office:</h5>
                    </div>
                    <div class="company-add-contain">
                      <p>
                        Unit No. 5, Second Floor, Harmony Mall, Goregaon West,
                        Mumbai 400104
                      </p>
                    </div>
                  </div>
                </div>
                <!-- <div class="company-add">
                  <div class="company-add-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="company-add-detail">
                    <div class="company-add-title">
                      <h5>Mumbai Office:</h5>
                    </div>
                    <div class="company-add-contain">
                      <p>
                        E301, Sky Park, Ajit Glass Lane, Near HDFC Corp House,
                        Goregaon West, Mumbai, Maharashtra 400104
                      </p>
                    </div>
                  </div>
                </div> -->
                <div class="company-add">
                  <div class="company-add-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="company-add-detail">
                    <div class="company-add-title">
                      <h5>Dubai Office:</h5>
                    </div>
                    <div class="company-add-contain">
                      <p>
                        P.O.Box:- 1815, Churchill Tower, Business Bay, Dubai<br />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="company-add">
                  <div class="company-add-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="company-add-detail">
                    <div class="company-add-title">
                      <h5>Singapore Office:</h5>
                    </div>
                    <div class="company-add-contain">
                      <p>30 Prinsep Street Singapore 188647</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                
                <div class="company-add">
                  <div class="company-add-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="company-add-detail">
                    <div class="company-add-title">
                      <h5>USA Office:</h5>
                    </div>
                    <div class="company-add-contain">
                      <p>26 pleasant plains road Franklin Park, NJ, 08823</p>
                    </div>
                  </div>
                </div>
                <div class="company-add">
                  <div class="company-add-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="company-add-detail">
                    <div class="company-add-title">
                      <h5>Gadarwara Office:</h5>
                    </div>
                    <div class="company-add-contain">
                      <!-- <p>Cylsys Software Solutions Pvt. Ltd.MP State Highway 22,Next to Maharana Pratap P.G College, Vivekanand Ward, Gadarwara, Madhya Pradesh - 487551.</p> -->
                      <p>
                        MP State Highway 22, Gadarwara, Madhya Pradesh - 487551.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="company-sort-des">
                  <div class="company-add">
                    <div class="company-add-icon">
                      <i
                        class="fab fa-whatsapp social mr-2"
                        aria-label="Whatsapp"
                      ></i>
                    </div>
                    <div class="company-add-detail">
                      <div class="company-add-title">
                        <h5></h5>
                      </div>
                      <div class="company-add-contain">
                        <h5>
                          <a
                            target="_blank "
                            aria-label="Chat on WhatsApp"
                            href="https://wa.me/+919967502270"
                          >
                            +91 9967502270
                            <span class="text-dark"
                              >(Cylsys Whats App Sales Bot)</span
                            >
                          </a>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="company-add">
                    <div class="company-add-icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div class="company-add-detail">
                      <div class="company-add-contain">
                        <h5>
                          <a href="mailto:reachus@cylsys.com"
                            >reachus@cylsys.com
                            <span class="text-dark">(For Any Enquiries)</span></a
                          >
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="company-add">
                    <div class="company-add-icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div class="company-add-detail">
                      <div class="company-add-contain">
                        <h5>
                          <a href="mailto:reachus@cylsys.com"
                            >sales@cylsys.com
                            <span class="text-dark"
                              >(For Sales Enquiries)</span
                            ></a
                          >
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="social-media">
                    <a
                      href="https://www.facebook.com/cylsyssoftwaresolutionpvtltd"
                      target="_blank"
                      ><i
                        class="fab fa-facebook social mr-2"
                        aria-label="Facebook"
                      ></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/company/2310187"
                      target="_blank"
                      ><i
                        class="fab fa-linkedin-in social mr-2"
                        aria-label="Linkedin"
                      ></i
                    ></a>
                  </div>
                  <div class="certificate">
                    <img
                      src="../../../../assets/images/fourteen_year.jpg"
                      alt="twelve_year"
                      class="rounded-circle"
                      width="50"
                    />
                    <img
                      src="../../../../assets/images/iso.png"
                      alt="ten years"
                      class="rounded-circle"
                      width="50"
                    />
                    <img
                      src="../../../../assets/images/most-innovative-companies.png"
                      alt="The Most Innovative Companies"
                      class="rounded-circle"
                      width="50"
                    />
                    <img
                      src="../../../../assets/images/iso9001.jpg"
                      alt="The Most Innovative Companies"
                      class="rounded-circle"
                      width="50"
                    />
                    <img
                      src="../../../../assets/images/iso27001.jpg"
                      alt="The Most Innovative Companies"
                      class="rounded-circle"
                      width="50"
                    />
                    <a
                      href="https://sur.ly/awards-generic/api/track/click/a2a7052327c614f00beec781bc3ec109"
                    >
                      <img
                        src="../../../../assets/images/web safety.png"
                        alt="web safety img"
                        class="rounded-circle"
                        width="50"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Start of Tawk.to Script-->
  
  