<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">
        <div class="container-fluid p-0">
            <img
              src="assets/images//mobiledevelopment.png"
              alt="images/mobiledevelopment.jpg"
              class="innerbanner wow slideInDown"
            />
          </div>
          <!--end-->
          <!--start-->
    
          <div class="container body-content inner wow slideInUp mt-4">
            <h2>
              <span class="border-bottom border-success">
                Transform Your Business With <br />
                Our Mobile App Development Services</span
              >
            </h2>
            <h3>
              Cylsys Software creates unique and innovative mobile applications that
              are feature rich and user-friendly. The mobile application development
              services we offer are multi-dimensional drawing insights from multiple
              perspectives on business, technology, end-users, etc.
            </h3>
          </div>
          <div
            class="container-fluid body-content inner wow slideInUp bg-primary mt-4"
          >
            <div class="container pt-5 pb-5">
              <div class="row text-center">
                <div class="col-sm-4 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <i class="fab fa-android fa-3x"></i>
                      <h5 class="card-title">
                        <strong>Android App Development</strong>
                      </h5>
                      <p class="card-text">
                        The popularity in the market and worldwide reach makes
                        android apps an excellent choice for your business
                        solutions. Cylsys android apps are known for their stunning
                        User Interface (UI/UX), swift loading time and consistent
                        performance.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <i class="fab fa-apple fa-3x"></i>
                      <h5 class="card-title">
                        <strong>iPhone App Development</strong>
                      </h5>
                      <p class="card-text">
                        iOS applications are known for setting new benchmarks in the
                        mobile app development industry. A fresh idea with a simple
                        interface is what iOS apps are all about and our resourceful
                        iPhone app development team is the right choice for you.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <i class="fas fa-file-code-o fa-3x"></i>
                      <h5 class="card-title">
                        <strong>Flutter App Development</strong>
                      </h5>
                      <p class="card-text">
                        Flutter apps are multi-platform apps enriched with
                        delightful UI, high performance, and responsive design. Our
                        Flutter app development has the best team that will help you
                        save time, cost and resources while providing you with
                        aesthetic native apps.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <i class="fas fa-laptop-code fa-3x"></i>
                      <h5 class="card-title">
                        <strong>Cross Platform Mobile Apps</strong>
                      </h5>
                      <p class="card-text">
                        Mobile apps that work on multiple platforms give you a wider
                        reach. Leveraging the best technologies in cross-platform
                        development like Ionic, Xamarin etc., our cross-platform
                        development process balances clarity, features and
                        responsive interfaces.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <i class="fas fa-file-code-o fa-3x"></i>
                      <h5 class="card-title"><strong>React Native Apps</strong></h5>
                      <p class="card-text">
                        React Native apps are unique, have a simple user interface,
                        and provide cost-effective solutions for your business
                        needs. With vast experience in building first-class native
                        apps, our React Native app development team will help you
                        change the face of your business.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <i class="fas fa-mobile-phone fa-3x"></i>
                      <h5 class="card-title">
                        <strong>Progressive Web Apps</strong>
                      </h5>
                      <p class="card-text">
                        Progressive Web Applications (PWAs) create a break from
                        traditional web app development to expand on a responsive
                        feel. Our PWAs make it easy for you to link and install them
                        and give an engaging app-like feel to your <br />
                        business solutions.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="container-fluid body-content text-center inner wow slideInUp mobilepage p-5"
          >
            <div class="container">
              <h2 class="text-white pt-0">How Cylsys Apps are Coined</h2>
              <h4 class="text-white">
                Our mobile app development strategy is simple, make life easy for
                users and they are going to come for more. Iterating on the Minimum
                Viable Product our developers and strategists keep on refining
                mobile applications for perfection. The following illustration of
                our mobile app development process says it all:
              </h4>
              <div class="row text-center mt-4">
                <div class="col-sm-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><strong>Ice Breaking</strong></h5>
                      <p class="card-text">
                        It is one thing to have an idea and another to express it.
                        Ice Breaking session brings all our talent into one room to
                        capture even the minutest detail from our clients, to
                        prepare for a creative and innovative mobile app development
                        process.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        <strong>Research & Realize</strong>
                      </h5>
                      <p class="card-text">
                        Once the ice melts it's time to crystallize ideas into
                        reality. Researching the feasibility of the idea, its
                        technical restructuring, wire framing and UI/UX
                        considerations follows next. All this happens with constant
                        client interaction and inputs at every stage.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><strong>Testing & MVP</strong></h5>
                      <p class="card-text">
                        Testing is the refining act in the mobile app development
                        process. Prototypes are tested, fixed and fine tuned with
                        feedback and the cycle goes on and on to arrive at the
                        spotless Minimum Viable Product. The team is approaching the
                        final stages of development.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><strong>It’s Showtime</strong></h5>
                      <p class="card-text">
                        The time to release the refined mobile application into the
                        testing waters of the world market. With open channels for
                        feedback and with scalable mobile application development
                        strategy, the Cylsys apps sail steadfast in the Google Play
                        stores and iOS App stores.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="container text-center mt-4 inner wow slideInUp">
            <h2>Explore Our Mobile App Portfolio</h2>
            <h4>
              We develop seamless and agile mobile applications. The outputs never
              disappointed us and never failed to delight the customer.
            </h4>
    
            <div class="gallery mt-4">
              <a href="images/mob/cylsys_client-my_fund_bucket_App1.jpg" class="big"
                ><img
                  src="assets/images//mob/cylsys_client-my_fund_bucket_App1.jpg"
                  alt="images/mob/cylsys_client-my_fund_bucket_App1.jpg"
              /></a>
              <a href="images/mob/cylsys_client-open_med_app2.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-open_med_app2.jpg"
                  alt="images/mob/cylsys_client-open_med_app2.jpg"
              /></a>
              <a href="images/mob/cylsys_client-kitchary_app3.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-kitchary_app3.jpg"
                  alt="images/mob/cylsys_client-kitchary_app3.jpg"
              /></a>
              <a href="images/mob/cylsys_client-healent_app4.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-healent_app4.jpg"
                  alt="images/mob/cylsys_client-healent_app4.jpg"
              /></a>
              <a href="images/mob/cylsys_client- luzy_app5.jpg"
                ><img
                  src="assets/images//mob/cylsys_client- luzy_app5.jpg"
                  alt="images/mob/cylsys_client- luzy_app5.jpg"
              /></a>
              <a href="images/mob/cylsys_client-global_skill_app6.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-global_skill_app6.jpg"
                  alt="images/mob/cylsys_client-global_skill_app6.jpg"
              /></a>
              <a href="images/mob/cylsys_client-newgrowth_app7.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-newgrowth_app7.jpg"
                  alt="images/mob/cylsys_client-newgrowth_app7.jpg"
              /></a>
              <a href="images/mob/cylsys_client-amerifash_app8.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-amerifash_app8.jpg"
                  alt="images/mob/cylsys_client-amerifash_app8.jpg"
              /></a>
              <a href="images/mob/cylsys_client-kickchat_app9.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-kickchat_app9.jpg"
                  alt="images/mob/cylsys_client-kickchat_app9.jpg"
              /></a>
              <a href="images/mob/cylsys_client-spocha_app10.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-spocha_app10.jpg"
                  alt="images/mob/cylsys_client-spocha_app10.jpg"
              /></a>
              <a href="images/mob/cylsys_client-olie_app11.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-olie_app11.jpg"
                  alt="images/mob/cylsys_client-olie_app11.jpg"
              /></a>
              <a href="images/mob/cylsys_client-wopnow_app12.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-wopnow_app12.jpg"
                  alt="images/mob/cylsys_client-wopnow_app12.jpg"
              /></a>
              <a href="images/mob/cylsys_client-wolters_klower_app13.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-wolters_klower_app13.jpg"
                  alt="images/mob/cylsys_client-wolters_klower_app13.jpg"
              /></a>
              <a href="images/mob/cylsys_client-rolla_learning_app14.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-rolla_learning_app14.jpg"
                  alt="images/mob/cylsys_client-rolla_learning_app14.jpg"
              /></a>
              <a href="images/mob/cylsys_client-smart_salution_automation_app15.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-smart_salution_automation_app15.jpg"
                  alt="images/mob/cylsys_client-smart_salution_automation_app15.jpg"
              /></a>
              <a href="images/mob/cylsys_client-bordertown_casino_app16.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-bordertown_casino_app16.jpg"
                  alt="images/mob/cylsys_client-bordertown_casino_app16.jpg"
              /></a>
              <a href="images/mob/cylsys_client-fanzone_app17.jpg"
                ><img
                  src="assets/images//mob/cylsys_client-fanzone_app17.jpg"
                  alt="images/mob/cylsys_client-fanzone_app17.jpg"
              /></a>
              <a href="images/mob/hurleys.png"
                ><img src="assets/images//mob/hurleys.png" alt="images/mob/hurleys.png"
              /></a>
              <a href="images/mob/adviseCube.png"
                ><img
                  src="assets/images//mob/adviseCube.png"
                  alt="images/mob/adviseCube.png"
              /></a>
              <a href="images/mob/NewsKnight (1).png"
                ><img
                  src="assets/images//mob/NewsKnight (1).png"
                  alt="images/mob/NewsKnight (1).png"
              /></a>
              <a href="images/mob/snoc (1).png"
                ><img src="assets/images//mob/snoc (1).png" alt="images/mob/snoc (1).png"
              /></a>
              <div class="clear"></div>
            </div>
          </div>
    
          <div class="container inner wow slideInUp">
            <h2 class="mb-3 mt-5 text-center">Our Clients</h2>
            <div class="row">
              <ul id="rcbrand2">
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Uti mutual fund.jpg"
                    alt="images/clients/cylsys client-Uti mutual fund.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-amazon.jpg"
                    alt="images/clients/cylsys client-amazon.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-DBS.jpg"
                    alt="images/clients/cylsys client-DBS.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-fan zone.jpg"
                    alt="images/clients/cylsys client-fan zone.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-freeITStaffing.jpg"
                    alt="images/clients/cylsys client-freeITStaffing.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-fullerton India.jpg"
                    alt="images/clients/cylsys client-fullerton India.jpg"
                    class="img-fluid"
                  />
                </li>
                <!--<li><img src="assets/images//clients/client20.jpg" alt="Client" class="img-fluid"></li>-->
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Kandahar Knights.jpg"
                    alt="images/clients/cylsys client-Kandahar Knights.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Kotak Mahindra Bank.jpg"
                    alt="images/clients/cylsys client-Kotak Mahindra Bank.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Medknow Publications.jpg"
                    alt="images/clients/cylsys client-Medknow Publications.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Muthoot Finance.jpg"
                    alt="images/clients/cylsys client-Muthoot Finance.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-myfundbucket.jpg"
                    alt="images/clients/cylsys client-myfundbucket.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-NeoGrowth.jpg"
                    alt="images/clients/cylsys client-NeoGrowth.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-online image editor.jpg"
                    alt="images/clients/cylsys client-online image editor.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-panjab national bank.jpg"
                    alt="images/clients/cylsys client-panjab national bank.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Paytm.jpg"
                    alt="images/clients/cylsys client-Paytm.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Safegate Group.jpg"
                    alt="images/clients/cylsys client-Safegate Group.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-TaTa Capital.jpg"
                    alt="images/clients/cylsys client-TaTa Capital.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Tolia Group of Companies.jpg"
                    alt="images/clients/cylsys client-Tolia Group of Companies.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-aditya birla capital.jpg"
                    alt="images/clients/cylsys client-aditya birla capital.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-vivgnte by vsa.jpg"
                    alt="images/clients/cylsys client-vivgnte by vsa.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Wolters Kluwer.jpg"
                    alt="images/clients/cylsys client-Wolters Kluwer.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-yes bank.jpg"
                    alt="images/clients/cylsys client-yes bank.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-RRO 28.jpg"
                    alt="images/clients/cylsys client-RRO 28.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Edelweiss 29.jpg"
                    alt="images/clients/cylsys client-Edelweiss 29.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-ITSFMG 32.jpg"
                    alt="images/clients/cylsys client-ITSFMG 32.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-NAX Your Document Bank 33.jpg"
                    alt="images/clients/cylsys client-NAX Your Document Bank 33.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Medical institute for Screening test 34.jpg"
                    alt="images/clients/cylsys client-Medical institute for Screening test 34.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-including Gratitude 35.jpg"
                    alt="images/clients/cylsys client-including Gratitude 35.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-Auxilo 36.jpg"
                    alt="images/clients/cylsys client-Auxilo 36.jpg"
                    class="img-fluid"
                  />
                </li>
    
                <li>
                  <img
                    src="assets/images//clients/cylsys client-wingreens frams 68.jpg"
                    alt="images/clients/cylsys client-wingreens frams 68.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-powerweave 69.jpg"
                    alt="images/clients/cylsys client-powerweave 69.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-cactus 70.jpg"
                    alt="images/clients/cylsys client-cactus 70.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-afghanistan premier league 71.jpg"
                    alt="images/clients/cylsys client-afghanistan premier league 71.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-enhancesys 72.jpg"
                    alt="images/clients/cylsys client-enhancesys 72.jpg"
                    class="img-fluid"
                  />
                </li>
    
                <li>
                  <img
                    src="assets/images//clients/cylsys client-mindsclik 74.jpg"
                    alt="images/clients/cylsys client-mindsclik 74.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-hurleyx 78.jpg"
                    alt="images/clients/cylsys client-hurleyx 78.jpg"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-wingreens World 79.png"
                    alt="images/clients/cylsys client-wingreens World 79.png"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-c-edge 80.png"
                    alt="images/clients/cylsys client-c-edge 80.png"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-tcqo by mahindra 81.png"
                    alt="images/clients/cylsys client-tcqo by mahindra 81.png"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-hurley's 83.png"
                    alt="images/clients/cylsys client-hurley's 83.png"
                    class="img-fluid"
                  />
                </li>
                <li>
                  <img
                    src="assets/images//clients/cylsys client-jm financial 82.png"
                    alt="images/clients/cylsys client-jm financial 82.png"
                    class="img-fluid"
                  />
                </li>
              </ul>
            </div>
          </div>
          <section class="section testmonial1">
            <div class="container">
              <div class="heading">
                <h2 class="mb-5">Testimonials</h2>
              </div>
              <div
                class="row text-center wow fadeInDown"
                style="visibility: visible; animation-name: fadeInDown"
              >
                <div
                  id="carouselExampleControls"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <div class="carousel-inner col-md-12">
                    <div class="carousel-item">
                      <h5>Innocent Warmey</h5>
                      <p>
                        Great work - delays in project was driven by me and <br />
                        this provider worked around these delays.
                      </p>
                      <h6><strong>Project</strong>: Ifrica Design</h6>
                    </div>
                    <div class="carousel-item">
                      <h5>Rakesh Gupta</h5>
                      <p>
                        Excellent work, responsibility and execution <br />
                        according to that agreed.
                      </p>
                      <h6><strong>Project</strong>: Web Services</h6>
                    </div>
                    <div class="carousel-item">
                      <h5>V.K.Jain.</h5>
                      <p>
                        Met requirements in a timely manner. <br />
                        Good communication throughout the process.
                      </p>
                      <h6><strong>Project</strong>: MPSSIO</h6>
                    </div>
                    <div class="carousel-item active">
                      <h5>Arpit Jain</h5>
                      <p>
                        These guys are prompt and very talented! <br />
                        I am extremely happy with them!
                      </p>
                      <h6><strong>Project</strong>: VSA Accessories</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div
            class="container body-content inner wow slideInUp"
            style="visibility: visible; animation-name: slideInUp"
          >
            <h2 class="text-center">FAQs</h2>
            <div class="accordion aiml" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h3 class="mb-0">
                    <a
                      href=""
                      class="btn-link btn-block text-left"
                      type=""
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                      >Why opt for Cylsys Software to develop your mobile
                      application?</a
                    >
                  </h3>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      Cylsys Software has a rich experience of 12 years + in Mobile
                      application development. The innovations we create is not easy
                      to match.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h3 class="mb-0">
                    <a
                      href=""
                      class="btn-link btn-block text-left collapsed"
                      type=""
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                      >What are the commercials for developing a Mobile
                      application?</a
                    >
                  </h3>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      Amalgamation of Technology and expert resources results in
                      path breaking Mobile applications. The commercials will depend
                      on the type of application to be developed, the features and
                      resources to be involved and time frame to complete the
                      project.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h3 class="mb-0">
                    <a
                      href=""
                      class="btn-link btn-block text-left collapsed"
                      type=""
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                      >Which are the Technologies that are used for developing
                      Mobile applications?</a
                    >
                  </h3>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      Some Technologies used for creating Mobile Applications are
                      Java, Python, Swift, Flutter, React Native. Kotlin etc.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h3 class="mb-0">
                    <a
                      href=""
                      class="btn-link btn-block text-left collapsed"
                      type=""
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                      >Which are the Operating Systems available for running Mobile
                      applications?</a
                    >
                  </h3>
                </div>
                <div
                  id="collapseFour"
                  class="collapse"
                  aria-labelledby="headingFour"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      Android, iOS and Google Android are some Operating systems on
                      which a Mobile application can be developed to run.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    


    </div>
</div>