

<div ng-app="myApp" ng-controller="Enquiry">
 
    <div id="fullpage">
     
      <div class="container-fluid p-0">
        <img
          src="assets/images/cylsys-team.jpg"
          alt="Team"
          class="innerbanner wow slideInDown"
        />
      </div>
      <!--end-->
      <!--start-->
      <div class="container body-content inner wow slideInUp innertop">
        <h2><span class="border-bottom border-success">Cylsys Team</span></h2>
      </div>
      <hr />
      <div class="container mt-40 inner wow slideInUp">
        <div class="row mt-30">
          <div class="col-md-4 col-sm-6 mb-2 wow slideInLeft col-4">
            <div class="box12 border">
              <img src="assets/images/team/ceo.jpg" width="100%" alt="CEO" />
              <div class="box-content">
                <h3 class="title">CEO OF THE COMPANY</h3>
                <ul class="icon">
                  <li><a routerLink="/team">Pawas Goyal</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInUp col-4">
            <div class="box12 border">
              <img src="assets/images/team/team1.jpg" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
                <!--<ul class="icon">
                                <li><a href="#"><i class="fa fa-search"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>-->
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/team2.jpg" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInLeft col-4">
            <div class="box12 border">
              <img src="assets/images/team/team3.jpg" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInUp col-4">
            <div class="box12 border">
              <img src="assets/images/team/team4.jpg" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/team5.jpg" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
          <!-- .................nand.......... -->
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/team10.jpg" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/Team11.png" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/team 15.jpg" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/team24.png" width="100%" alt="Team" />

              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/team17.jpg" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/team19.jpg" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/team25.png" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/Team21 1.png" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2 wow slideInRight col-4">
            <div class="box12 border">
              <img src="assets/images/team/team26.png" width="100%" alt="Team" />
              <div class="box-content">
                <h3 class="title">CYLSYS TEAM</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- ....................anurudh.................. -->
      </div>

      <!--end-->
      <hr />
      <!--start-->
   
    </div>
    <!--end-->
  
</div>
