

<div ng-app="myApp" ng-controller="Enquiry">

    <!--start-->
    <div id="fullpage">

      <div class="container-fluid p-0">
        <img
          src="assets/images/Sports.jpg"
          alt="images/Sports.jpg"
          class="innerbanner wow slideInDown"
        />
      </div>
      <!--end-->
      <!--start-->
      <hr />
      <div class="container body-content inner wow slideInUp">
        <div class="row">
          <div class="col-md-12">
            <h2 class="underlinee">Annual Sports Day 2K22</h2>
            <p>
              Physical Activity is an integral part of our life. It helps in the
              achievement of Holistic development. Games and Sports play a vital
              role in everyone’s life. An employee should work hard to be
              successful in life, but they should also play games and
              participate in sports to improve one’s health and enjoy the
              vigour’s of life. Along with the career. employee should also
              remove time for games and sports,
            </p>
            <p>
              This event was organised across Nov. 26, Dec.03 and Dec. 10, 2022
              to boost the potential of employees and keep them motivated. The
              importance of Sports Day in the organization cannot really be
              overstated since it is a important date in the calendar to promote
              extra-curricular activities and to demonstrate that the
              Organization is about more than just making profits. It is also
              being part of a supportive and productive community.
            </p>
            <p>
              Only study or only work alone makes us exhausted and gets
              monotonous. Monotony has a detrimental effect on the productivity
              of an employee. Sports helps to remove our mental exhaustion. It
              strives to excel at all levels and bring laurels to the company.
              This venture shall enable the employees to have fun, learn new
              sports, and enhance social interaction and test’s one’s physical
              capability. These competitions also offer a break from the daily
              routine tasks and recreate or reenergize them. The main idea of a
              Sports day is to encourage employees to have fun, to get active
              and to work together as a TEAM in various fun physical activities
              and challenges.
            </p>
            <p>
              Employees productivity gets enhanced on a weekend and days well
              spent.
            </p>
            <h3>“ A Trophy carries dust, Memory’s last Forever ”</h3>
            <p><strong>-Mary Lou Retton </strong></p>
            <br /><br />
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
           
              <h4 class="underlinee text-center">
                CYLSYS Organized the Following Events for Employees:
              </h4>
           
          </div>
          <div class="slider1">
            <div id="jssor_1">
              <!-- Loading Screen -->
              <div data-u="loading" class="jssorl-009-spin slider2">
                <img class="spin" src="assets/img/spin.svg" />
              </div>

              <div
                data-u="slides"
                style="
                  cursor: default;
                  position: relative;
                  top: 0px;
                  left: 240px;
                  width: 720px;
                  height: 480px;
                  overflow: hidden;
                "
              >
                <div>
                  <img data-u="image" src="assets/images/Sports/2022/1_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/1_small.png" />
                </div>
                <div>
                  <img data-u="image" src="assets/images/Sports/2022/2_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/2_small.png" />
                </div>
                <div>
                  <img data-u="image" src="assets/images/Sports/2022/3_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/3_small.png" />
                </div>
                <div>
                  <img data-u="image" src="assets/images/Sports/2022/4_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/4_small.png" />
                </div>

                <div>
                  <img data-u="image" src="assets/images/Sports/2022/5_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/5_small.png" />
                </div>
                <div>
                  <img data-u="image" src="assets/images/Sports/2022/6_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/6_small.png" />
                </div>

                <div>
                  <img data-u="image" src="assets/images/Sports/2022/7_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/7_small.png" />
                </div>
                <div>
                  <img data-u="image" src="assets/images/Sports/2022/8_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/8_small.png" />
                </div>
                <div>
                  <img data-u="image" src="assets/images/Sports/2022/9_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/9_small.png" />
                </div>
                <div>
                  <img data-u="image" src="assets/images/Sports/2022/10_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/10_small.png" />
                </div>
                <div>
                  <img data-u="image" src="assets/images/Sports/2022/11_medium.png" />
                  <img data-u="thumb" src="assets/images/Sports/2022/11_small.png" />
                </div>
              </div>
              <a
                data-scale="0"
                href="https://www.jssor.com"
                style="display: none; position: absolute"
                >webanimation composer</a
              >
              <!-- Thumbnail Navigator -->
              <div
                data-u="thumbnavigator"
                class="jssort101 jasso"
                data-autocenter="2"
                data-scale-left="0.75"
              >
                <div data-u="slides">
                  <div data-u="prototype" class="p">
                    <div data-u="thumbnailtemplate" class="t"></div>
                    <svg viewbox="0 0 16000 16000" class="cv">
                      <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                      <line
                        class="a"
                        x1="6190.5"
                        y1="8000"
                        x2="9809.5"
                        y2="8000"
                      ></line>
                      <line
                        class="a"
                        x1="8000"
                        y1="9809.5"
                        x2="8000"
                        y2="6190.5"
                      ></line>
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Arrow Navigator -->
              <div
                data-u="arrowleft"
                class="jssora093 jasso1"
                data-autocenter="2"
              >
                <svg viewbox="0 0 16000 16000" class="viewbox">
                  <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                  <polyline
                    class="a"
                    points="7777.8,6080 5857.8,8000 7777.8,9920 "
                  ></polyline>
                  <line
                    class="a"
                    x1="10142.2"
                    y1="8000"
                    x2="5857.8"
                    y2="8000"
                  ></line>
                </svg>
              </div>
              <div
                data-u="arrowright"
                class="jssora093 jasso2"
                data-autocenter="2"
              >
                <svg viewbox="0 0 16000 16000" class="viewbox">
                  <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                  <polyline
                    class="a"
                    points="8222.2,6080 10142.2,8000 8222.2,9920 "
                  ></polyline>
                  <line
                    class="a"
                    x1="5857.8"
                    y1="8000"
                    x2="10142.2"
                    y2="8000"
                  ></line>
                </svg>
              </div>
              <br />
            </div>
          </div>
          <br />
          <!-- #endregion Jssor Slider End -->
          <div class="col-md-12">
            <div class="container-fluid widt">
              <p>
                These Days are well designed to offer employees, an unwinding
                day of excitement and fun! Such events are very effective and
                very essential in boosting employee’s morale.
              </p>
              <h5>
                “Talent Wins Games, But Team Work And Intelligence Win
                Championships,”
              </h5>
              <p><strong> - Michel Jordan </strong></p>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-6 text-center">
               
                  <h2 class="underlinee">CRICKET</h2>
                
                <img
                  src="assets/images/Sports/2022/5.png"
                  alt="images/Sports/2022/5.png"
                  class="border w-100"
                />
                <hr />
                <p>
                  <strong>
                    To uncover your potential, you must first find your own
                    limits and then you should have the courage to blow past
                    them.</strong
                  >
                </p>
                <p>
                  Through each game we have discovered several skills, which are
                  very useful in working environment and they have learnt those
                  Qualities without any difficulty.
                </p>
                <p>
                  Through Cricket we have discovered Great Team Work, To do well
                  in team sport, employees will need to make sure they put into
                  practice some team work skills including cooperation and
                  coordination.
                </p>
                <p>
                  Also improved social skills, Taking part in sporting
                  activities can improve young people’s social skills as it
                  gives them the opportunity to meet new people and build
                  resilience. It was a very joyful and fun activity done by our
                  teams.
                </p>
                <h5>“Teamwork begins by building trust….</h5>
                <p><strong> -Patrick Lencioni </strong></p>
              </div>
              <div class="col-md-6 text-center">
                
                  <h2 class="underlinee">Badminton</h2>
              
                <img
                  src="assets/images/Sports/2022/4.png"
                  alt="images/Sports/2022/4.png"
                  class="border w-100"
                />
                <hr />
                <p>
                  <strong
                    >What we do is nothing like the portrayal of badminton as a
                    gentle game played in a church hall. Badminton can be fun
                    and relaxing, but as professionals, this sport is our heart
                    and soul and passion, and our games are fast and aggressive.
                  </strong>
                </p>
                <p>
                  Termed as “backyard sport.” Badminton is like ballet dancing.
                  It requires a lot of control, strength, mind play and measured
                  movement. Only a shuttle knows how demanding the fastest sport
                  in the world is. And those who play badminton well take
                  decisions quickly.
                </p>
                <p><strong> - Rajiv Ouseph </strong></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-6 text-center">
               
                  <h2 class="underlinee">DART</h2>
                  <br />
              
                <img
                  src="assets/images/Sports/2022/8.png"
                  alt="images/Sports/2022/8.png"
                  class="border w-100"
                />
                <hr />
                <p>
                  <strong>
                    So basically, you know, the first day on the job you get
                    there and you realize everybody has a Nerf gun. They had,
                    you know, the smaller ones that shoot the darts. So part of
                    the rite of passage of coming to the company is you have to
                    get you own.
                  </strong>
                </p>
                <hr />
              </div>
              <div class="col-md-6 text-center">
               
                  <h2 class="underlinee">Ludo</h2>
                  <br />
               

                <img
                  src="assets/images/Sports/2022/2.png"
                  alt="images/Sports/2022/2.png"
                  class="border w-100"
                />
                <hr />
                <p><strong> Courage to blow past them </strong></p>
                <h5>“Never give up; just absolutely never give up.”</h5>
                <p><strong> – Shane Warne</strong></p>
                <hr />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center ">
             
                <h2 class="underlinee">TUG OF WAR</h2>
              
              <br />
              <img
                src="assets/images/Sports/2022/3.png"
                alt="images/Sports/2022/3.png"
                class="border w-100"
              />
              <hr />
              <h5>
                Conservatism cherishes tradition; innovation fetishists novelty.
                They tug in different directions, the one toward the past, the
                other toward the future.
              </h5>
            </div>
            <hr />
            <div class="col-md-12 text-center">
             
                <h2 class="underlinee">CYLSYS SPORTS CHAMPIONS 2K22</h2>
            
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-center">
             
                <h5>CRICKET WINNER’S -Cylsys Super Kings</h5>
                <br />
            
              <img
                src="assets/images/Sports/2022/12.png"
                alt="images/Sports/2022/12.png"
                class="border w-100"
              />
              <hr />
              <p class="fon">
                SUDHANSHU MISHRA, ASMA BANO, HARSHITA SONI, PIYUSH AGRAWAL,
                AKASH CHAUHAN, MOHIT BHIRANI
              </p>
              <h5>
                If you believe in yourself and have dedication and pride - and
                never quit, you'll be a winner.
              </h5>
            </div>
            <div class="col-md-6 text-center">
             
                <h5>TUG OF WAR: WINNER’S</h5>
                <br />
             
              <img
                src="assets/images/Sports/2022/13.png"
                alt="images/Sports/2022/13.png"
                class="border w-100"
              />
              <hr />
              <p class="fon">
                DEEPAK CHAUHAN, MANEESH YADAV, DEEPENDRA JHARIYA, AMIT KUMAR,
                AKASH CHAUHAN, ASHISH ANANDE, HITESH SHRIVASTAV, ROHIT MEHRA
                ,ANURUDH SHRIVASTAVA, NIKHIL KURMI
              </p>
              <h5>
                It's an interesting combination: Having a great fear of being
                alone, and having a desperate need for solitude and the solitary
                experience.
              </h5>
            </div>
            <br />
          </div>
          <hr />
          <div class="col-md-12">
            <h4 class="underlinee text-center">
              <hr />
              <br />
             BADMINTON TEAM: WINNER’S
              <br />
            </h4>
            <br />
            <div class="row">
              <div class="col-md-6 text-center">
               
                  <img
                    class="size"
                    src="assets/images/Sports/2022/14.png"
                    alt="images/Sports/2022/14.png"
                  />
                  <h5>HARSHITA SONI</h5>
                  <p>SOFTWARE TEAM</p>
               
              </div>
              <div class="col-md-6 text-center">
               
                  <img
                    class="size"
                    src="assets/images/Sports/2022/15.png"
                    alt="images/Sports/2022/15.png"
                  />
                  <h5>AMIT KUMAR</h5>
                  <p>SOFTWARE TEAM</p>
               
                <br />
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center">
          
              <h5>
                The difference between the impossible and the possible lies in a
                person's determination.
              </h5>
              <hr />
              <h4 class="underlinee">DART: WINNER’S</h4>
          
            <br />
            <div class="row">
              <div class="col-md-6 text-center">
               
                  <img
                    class="size1"
                    src="assets/images/Sports/2022/16.png"
                    alt="images/Sports/2022/16.png"
                  />
                  <h5>DEEPAK CHOUHAN </h5>

                  <p>SOFTWARE TEAM</p>
                
              </div>
              <div class="col-md-6 text-center">
              
                  <img
                    class="size1"
                    src="assets/images/Sports/2022/17.png"
                    alt="images/Sports/2022/17.png"
                  />
                  <h5>SWATI THAKUR</h5>

                  <p>HR TEAM</p>
                
              </div>
            </div>
            <hr />
          </div>
          <div class="col-md-12">
           
              <h4 class="underlinee text-center">LUDO: WINNER’S</h4>
           
            <br />
            <div class="row">
              <div class="col-md-6 text-center">
               
                  <img
                    img
                    class="size"
                    src="assets/images/Sports/2022/18.png"
                    alt="images/Sports/2022/18.png"
                  />
                  <h5>ANURUDH SHRIVASTAVA</h5>
                  <p>SOFTWARE TEAM</p>
                  <br />
              
              </div>

              <div class="col-md-6 text-center">
               
                  <img
                    img
                    class="size"
                    src="assets/images/Sports/2022/15.png"
                    alt="images/Sports/2022/15.png"
                  /><br />
                  <h5>AMIT KUMAR</h5>
                  <p>SOFTWARE TEAM</p>
                  <br />
               
              </div>

              <div class="container-fluid" style="width: 89%">
                <p>
                  <b>
                    You are never really playing an opponent . You are playing
                    yourself, your own highest standards, and when you reach
                    your limits, that is real joy . 
                  </b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--end-->
      <hr />
      <!--start-->
    
    </div>
   
</div>
