

<div ng-app="myApp" ng-controller="Enquiry">
    
    <!--start-->
    <div id="fullpage">
    
      <div class="container-fluid p-0">
        <img
          src="assets/images/training.jpg"
          alt="Career"
          class="innerbanner wow slideInDown"
        />
      </div>
      <!--end-->
      <!--start-->
      <div class="container body-content inner wow slideInUp innertop">
        <h2><span class="border-bottom border-success">Training Centre – Touching Success</span></h2>
      </div>
      <hr />
      <div class="container body-content inner wow slideInUp">
        <div class="row">
          <div class="col-md-6">
            <p>
              Cylsys Software Solutions Pvt. Ltd after making its mark in the
              field of Software & Mobile Application development, achieving
              remarkable success in the Business vertical of IT Staffing, will
              use its decade long experience and achievements to start a
              remarkable initiative which will give an opportunity for deserving
              candidates having a penchant for Information Technology to unlock
              their true potential with the tools provided to them through this
              initiative Cylsys Software has launched its most ambitious project
              till date. Its own training centre to nurture the minds of today’s
              youth interested in achieving the pinnacles of success in the
              field of Information Technology.
            </p>

            <p>
              The training programme called Touching Success is based in
              Gadarwara, a remote location in Madhya Pradesh. The training
              centre operates out of a state-of-the-art infrastructure.
            </p>

            <p>
              The training programme is free of cost for those candidates
              selected through a rigorous selection process which includes 3
              rounds and scrutinized by the best in the Industry. Only the best
              and deserving will qualify.
            </p>

            <p>
              The training programme courses will be for different skill sets
              being used currently in the IT industry and is mentioned below.
              The training modules will be for 3 months and on the successful
              completion of this training, the candidates will be incorporated
              on the payrolls of Cylsys Software, and they will take their first
              step towards achieving success in their career with important
              milestones.
            </p>

            <h3>
              <strong
                >The courses offered, and other details are as below:</strong
              >
            </h3>
            <table class="table table-striped border small">
              <thead>
                <tr>
                  <th>Courses Offered</th>
                  <th>Skills</th>
                  <th>No.Of Positions</th>
                  <th>Basic Education Required</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>HR IT Staffing</td>
                  <td>HR IT Staffing</td>
                  <td>4</td>
                  <td>Graduation</td>
                </tr>
                <tr>
                  <td>Mobile Developer</td>
                  <td>React Native</td>
                  <td>4</td>
                  <td>Engineer</td>
                </tr>

                <tr>
                  <td>SEO</td>
                  <td>SEO, Google Search Console</td>
                  <td>2</td>
                  <td>Engineer</td>
                </tr>
                <tr>
                  <td>Web developer</td>
                  <td>Image creation</td>
                  <td>1</td>
                  <td>Graduation</td>
                </tr>
                <tr>
                  <td>Web developer</td>
                  <td>Angular</td>
                  <td>2</td>
                  <td>Engineer</td>
                </tr>
                <tr>
                  <td>Web developer</td>
                  <td>React JS</td>
                  <td>2</td>
                  <td>Engineer</td>
                </tr>

                <tr>
                  <td>Image Designers</td>
                  <td>Image Design</td>
                  <td>1</td>
                  <td>Graduation</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <img
              src="assets/images/training-poster1.jpg"
              width="100%"
              alt="courses offered"
            />
          </div>
          <div class="col-md-12">
            <p>
              <strong
                >You can send your resumes to
                <a href="mailto:hr@cylsys.com">hr@cylsys.com</a> /
                <a href="mailto:jagrati.thakur@cylsys.com"
                  >jagrati.thakur@cylsys.com</a
                ></strong
              >
            </p>
          </div>
        </div>
      </div>

      <!--end-->
      <hr />
      <!--start-->
    
    </div>
    <!--end-->
 
</div>
