

<div ng-app="myApp" ng-controller="Enquiry">
 
    <div id="fullpage">
    
      <div class="container-fluid p-0">
        <img
          src="assets/images/sitemap.jpg"
          alt="Sitemap"
          class="innerbanner wow slideInDown"
        />
      </div>
      <!--end-->
      <!--start-->
      <div class="container body-content inner wow slideInUp innertop">
        <h2>Sitemap</h2>
      </div>
      <hr />
      <div class="container body-content inner wow slideInUp">
        <div class="row">
          <div class="col-md-4">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/aboutus">About Us</a></li>
              <li><a routerLink="/team">Team</a></li>
              <li><a routerLink="/life-in-cylsys">Life In Cylsys</a></li>
              <li><a routerLink="/clients">Clients</a></li>
              <li><a routerLink="/certification">Certification</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li><a routerLink="/case-studies">Case Studies</a></li>
              <li><a routerLink="/press">Press</a></li>
              <li><a routerLink="/contactus">Contact Us</a></li>
              <li><a routerLink="/career">Career</a></li>
              <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
              <li><a routerLink="/terms-of-use">Terms Of Use</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li><a routerLink="/holi">Holi celebration</a></li>
              <li><a routerLink="/republic"> Republic day celebration</a></li>
              <li><a routerLink="/women's-day">Women's day celebration</a></li>
            </ul>
          </div>
        </div>
        <h3>Services</h3>
        <br />

        <div class="row">
          <div class="col-md-4">
            <ul>
              <li><a routerLink="/software-development">Software Development</a></li>
              <li><a routerLink="/mobile-app-development">Mobile Development</a></li>
              <li><a routerLink="/qa-testing">QA & Testing</a></li>
              <li><a routerLink="/hire-developer">Hire Developer</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li><a routerLink="/digital-marketing">Digital Marketing</a></li>
              <li><a routerLink="/ui-ux-design">UI / UX Design</a></li>
              <li>
                <a routerLink="/software-consulting">Software Consulting</a>
              </li>
              <li><a routerLink="/data-analytics">Data Analytics</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li><a routerLink="/ai-ml">AI ML</a></li>
              <li><a routerLink="/rpa-tools">RPA Tools</a></li>
              <li><a routerLink="/chatbots">Chatbots</a></li>
              <li><a routerLink="/cloud-migration">Cloud Migration</a></li>
            </ul>
          </div>
        </div>
        <h3>Product</h3>
        <br />
        <ul>
          <li>
            <a href="https://hire.cylsys.com" target="_blank"
              >HIRE</a
            >
          </li>
          <li>
            <a routerLink="/digital-transaction-system"
              >Digital Transaction System</a
            >
          </li>
          <li><a href="https://crm.cylsys.com" target="_blank" >IT Lead Manager</a></li>
          <li>
            <a href="https://www.myfundbucket.com" target="_blank"
              >My Fund Bucket</a
            >
          </li>
          <li><a routerLink="/unicorn-ops">Unicorn Ops</a></li>
        </ul>
      </div>

      <!--end-->
      <hr />
     
  
    </div>
