<div ng-app="myApp " ng-controller="Enquiry ">
   
    <div id="fullpage ">
        <div class="container-fluid p-0">
            <img
              src="assets/images//cloud-migration.jpg"
              alt="Cloud Migration"
              class="innerbanner wow slideInDown"
            />
          </div>
          <!--end-->
          <!--start-->
          <div class="container body-content inner wow slideInUp innertop">
            <div class="row">
              <div class="col-md-4">
                <br />
                <br />
                <h2><span class="border-bottom border-success">Cloud Migration</span></h2>
                <h6>
                  Cloud migration is one of the critical services provided by Cylsys
                  Software to Businesses of all sizes to help them leverage the huge
                  benefits of Cloud Migration like Storage capacity, Security,
                  Scalability, Flexibility, Increased Computing capabilities and
                  much more.
                </h6>
              </div>
              <div class="col-md-8 pt-2">
                <div class="row mt-5">
                  <div class="col-md-4 col-4">
                    <img
                      src="assets/images//cloud-m/cloud1.jpg"
                      class="w-100 p-3 border mb-2"
                      alt="images/cloud-m/cloud1.jpg"
                    />
                  </div>
                  <div class="col-md-4 col-4">
                    <img
                      src="assets/images//cloud-m/cloud2.jpg"
                      class="w-100 p-3 border mb-2"
                      alt="images/cloud-m/cloud2.jpg"
                    />
                  </div>
                  <div class="col-md-4 col-4">
                    <img
                      src="assets/images//cloud-m/cloud3.jpg"
                      class="w-100 p-3 border mb-2"
                      alt="images/cloud-m/cloud3.jpg"
                    />
                  </div>
                  <div class="col-md-4 col-4">
                    <img
                      src="assets/images//cloud-m/cloud4.jpg"
                      class="w-100 p-3 border mb-2"
                      alt="images/cloud-m/cloud4.jpg"
                    />
                  </div>
                  <div class="col-md-4 col-4">
                    <img
                      src="assets/images//cloud-m/cloud5.jpg"
                      class="w-100 p-3 border mb-2"
                      alt="images/cloud-m/cloud5.jpg"
                    />
                  </div>
                  <div class="col-md-4 col-4">
                    <img
                      src="assets/images//cloud-m/cloud6.jpg"
                      class="w-100 p-3 border mb-2"
                      alt="images/cloud-m/cloud6.jpg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="container body-content inner wow slideInUp text-center mb-5">
            <h2>Our Cloud Migration Services</h2>
            <h4>
              We help create successful Businesses by partnering you at every step
              of the process with the right expertise, migration tools, Cloud
              management and Business process Transformation.
            </h4>
            <div class="row mt-4 p-2">
              <div class="col-md-3 col-6 border">
                <img
                  src="assets/images//cloud-m/c1.png"
                  alt="images/cloud-m/c1.png"
                  width="40%"
                />
                <h3>Infrastructure Management</h3>
                <p>
                  The Industry experts at Cylsys Software will help create an agile
                  infrastructure by building the right cloud environment that
                  delivers your technology needs and helps your Business to Perform
                  well.
                </p>
              </div>
              <div class="col-md-3 col-6 border">
                <img
                  src="assets/images//cloud-m/c2.png"
                  alt="images/cloud-m/c2.png"
                  width="40%"
                />
                <h3>Data Migration</h3>
                <p>
                  Data is the critical component of any Business. Cylsys Software
                  will formulate and safeguard the entire process of moving data ,
                  applications, Entire storage or other Business elements from a
                  brick and mortar data center to a cloud or from one cloud to
                  another.
                </p>
              </div>
              <div class="col-md-3 col-6 border">
                <img
                  src="assets/images//cloud-m/c3.png"
                  alt="images/cloud-m/c3.png"
                  width="40%"
                />
                <h3>Platform Migration</h3>
                <p>
                  We will help you migrate all your current Apps and tools from one
                  platform to another with total data security in place
                </p>
              </div>
              <div class="col-md-3 col-6 border">
                <img
                  src="assets/images//cloud-m/c4.png"
                  alt="images/cloud-m/c4.png"
                  width="40%"
                />
                <h3>Application Migration</h3>
                <p>
                  We will assist you in the migration of all your current
                  applications onto the cloud with precision, speed and all the
                  safeguards in place.
                </p>
              </div>
            </div>
          </div>
          <div class="section technology_stack inner">
            <div class="container">
              <h2 class="text-white pt-0">
                Want to start your Business Transformation?
              </h2>
              <h4>
                In today's Technologically changed and fiercely competitive Business
                environment. Cloud Migration is one of the best strategic Business
                that you can make
              </h4>
              <div class="row text-center wow fadeInDown pt-5">
                <div class="col-md-4 p-3 bg-white">
                  <i class="fas fa-building fa-3x"></i>
                  <h3>Decision</h3>
                  <p>
                    The entire thought process why cloud migration is imperative in
                    your Business is very important. Business goals and the various
                    steps required to achieve those goals.
                  </p>
                </div>
                <div class="col-md-4 p-3 bg-warning bg-info">
                  <i class="fas fa-pie-chart fa-3x"></i>
                  <h3>Strategy</h3>
                  <p>
                    Defining the entire Migration strategy and the entire process to
                    be followed
                  </p>
                </div>
                <div class="col-md-4 p-3 bg-white">
                  <i class="fas fa-cogs fa-3x"></i>
                  <h3>Delivery</h3>
                  <p>
                    The critical stage of Migration. Understand how Cylsys hand
                    holds you on each step of the execution which will enable the
                    Business to attain Maximum ROI and achieving the Business gaols
                    by migrating to the Cloud.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="container body-content inner wow slideInUp text-center">
            <h2>The Cylsys Edge - Your Partner for Cloud Migration</h2>
            <h4>
              Cloud Migration has its Challenges – Which is the ideal Cloud platform
              for your business. Accessing the current applications, Budgeting the
              entire cost and ensuring that the migration cycle is in accordance
              with the existing technological ecosystems
            </h4>
            <div class="row mt-5 mb-5 p-2">
              <div class="col-md-4 col-6 p-3 border">
                <img
                  src="assets/images//cloud-m/c5.png"
                  alt="images/cloud-m/c5.png"
                  width="30%"
                />
                <h3>Speed and Safety</h3>
                <p>
                  We ensure that the entire process of migration has the element of
                  Speed and at the same time has all the safeguards to ensure that
                  it is a Secure process.
                </p>
              </div>
              <div class="col-md-4 col-6 p-3 border">
                <img
                  src="assets/images//cloud-m/c6.png"
                  alt="images/cloud-m/c6.png"
                  width="30%"
                />
                <h3>Reduced Time & Cost</h3>
                <p>
                  The underlying objective of this entire process is to cut down the
                  time of the current process and being cost-effective. Cylsys
                  ensures both
                </p>
              </div>
              <div class="col-md-4 col-6 p-3 border">
                <img
                  src="assets/images//cloud-m/c7.png"
                  alt="images/cloud-m/c7.png"
                  width="30%"
                />
                <h3>Automated Process</h3>
                <p>
                  Automated processes can be set up including Backup and Logging
                  services. Reasons for Critical failures can be analysed and
                  processes can be up and running in no time.
                </p>
              </div>
              <div class="col-md-4 col-6 p-3 border">
                <img
                  src="assets/images//cloud-m/c8.png"
                  alt="images/cloud-m/c8.png"
                  width="30%"
                />
                <h3>Training</h3>
                <p>
                  Cylsys can train your in house team to manage your cloud. We hand
                  hold the team during the entire process and make sure that the
                  team is comfortable with each step of the new process.
                </p>
              </div>
              <div class="col-md-4 p-3 border">
                <img
                  src="assets/images//cloud-m/c9.png"
                  alt="images/cloud-m/c9.png"
                  width="30%"
                />
                <h3>Industry Expertise</h3>
                <p>
                  Having the expertise of handling all types of Cloud Architectural
                  deployment, our in-house experts are at your service to address
                  any concern or offer their valuable input on any piece of the
                  process.
                </p>
              </div>
            </div>
          </div>
          <div class="industry">
            <div class="container wow inner text-center slideInUp">
              <h2 class="text-white pt-0">Industry Verticals Served</h2>
              <div class="row text-center text-white">
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-bank fa-3x"></i>
                  <h5>Finance & Insurance</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-user-md fa-3x"></i>
                  <h5>Health care</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-shopping-cart fa-3x"></i>
                  <h5>Ecommerce</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-user fa-3x"></i>
                  <h5>Professional Services</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-clock fa-3x"></i>
                  <h5>Consumer Durable</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-video-camera fa-3x"></i>
                  <h5>Media & Advertising</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-desktop fa-3x"></i>
                  <h5>Consumer Electronics</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-cubes fa-3x"></i>
                  <h5>Manufacturing</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-mobile fa-3x"></i>
                  <h5>Telecom</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-automobile fa-3x"></i>
                  <h5>Automobile</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-graduation-cap fa-3x"></i>
                  <h5>Education</h5>
                </div>
                <div class="col-md-2 col-4 mb-3">
                  <i class="fas fa-file-video fa-3x"></i>
                  <h5>Entertainment</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="container body-content inner wow slideInUp">
            <h2 class="text-center">FAQs</h2>
            <div class="accordion aiml" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h3 class="mb-0">
                    <a
                      href=""
                      class="btn-link btn-block text-left"
                      type=""
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                      >Why Cloud Migration is Important to Business Growth?</a
                    >
                  </h3>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      With smart features and an unending array of business
                      benefits, the Cloud computing trend has picked off in the
                      recent years. Gone is the days when ‘migration to the cloud’
                      was still a concept for debate.
                    </p>
                    <p>
                      Smart user-friendly applications, time-saving features, ease
                      of access, enhanced security and qualitative outputs propel
                      the success of cloud computing and encourage non-cloud users
                      to take the business-defining jump.
                    </p>
                    <p>
                      Moreover, the reduction in implementation and licensing costs
                      are opening avenues for business owners to invest in the
                      Cloud.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h3 class="mb-0">
                    <a
                      href=""
                      class="btn-link btn-block text-left collapsed"
                      type=""
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                      >What is Cloud Migration?</a
                    >
                  </h3>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      Cloud Migration is a process whereby an organization’s digital
                      assets, resources and services or applications are deployed in
                      the cloud, where the migrated assets cannot be accessed beyond
                      the cloud’s firewall. Additionally, cloud migration is also
                      considered as the shift from one cloud provider to another,
                      also known as ‘cloud-to-cloud migration’.
                    </p>
                    <h3>Cloud Migration Process</h3>
                    <p>
                      <strong
                        >The following is a ten-step cloud migration process that
                        Verity uses:</strong
                      >
                    </p>
                    <ul>
                      <li>Internal Network Assessment</li>
                      <li>Business Operations Assessment</li>
                      <li>Cloud Framework Creation</li>
                      <li>Application Installation</li>
                      <li>Data Compatible Cloud Testing</li>
                      <li>Cloud Adaptability Training Sessions</li>
                      <li>Cloud Environment Functionality Test</li>
                      <li>Cloud-based Exchange Platform Setup</li>
                      <li>Cloud-based Data Migration & Storage</li>
                      <li>Live Cloud Computing</li>
                    </ul>
                    <p>
                      While the cloud is an extremely innovative business platform,
                      it is always best to be educated on its advantages and
                      features to judge how you can make use of the cloud’s features
                      and advantages. This involves considering the aforementioned
                      benefits and constructing a carefully-designed cloud migration
                      strategy.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h3 class="mb-0">
                    <a
                      href=""
                      class="btn-link btn-block text-left collapsed"
                      type=""
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                      >How Cylsys Helps?</a
                    >
                  </h3>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      With more than a decade long-track of being one of the leading
                      cloud migration service providers, Verities skills & expertise
                      have helped deliver friendly and time-saving cloud migration
                      solutions to a varied range of customers.
                    </p>
                    <p>
                      Our systematic cloud migration process comes after a proper
                      assessment of your cloud migration requirement, which includes
                      an understanding of your organizational setup, the pattern of
                      exchange of information, the application of the existing
                      infrastructure and the reasons for cloud migration.
                    </p>
                    <div class="row">
                      <div class="col-md-3">
                        <strong>Database</strong>
                        <p>
                          Oracle, SQL, Sybase, MySQL, MongoDB, Stark-B, Exchange
                        </p>
                      </div>
                      <div class="col-md-3">
                        <strong>Operating System</strong>
                        <p>Linux, Window (only x86)</p>
                      </div>
                      <div class="col-md-3">
                        <strong>Hypervisor</strong>
                        <p>Hyper V, VMware, RHEV, OVM, Openstack</p>
                      </div>
                      <div class="col-md-3">
                        <strong>Hyper</strong>
                        <p>AWS, Azure, Netmagic</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    


    </div>
</div>
